[2021-02-27 13:05] mickael-menu opened #1 "Supporting YAML frontmatters for metadata"
Many Zettelkasten use a YAML frontmatter to provide note metadata, e.g.:

[code]

`zk` only supports `title`, we should support the rest as well:

* `date` for the creation date
* `keywords` and `tags` for tags
* `description` could be used for the lead paragraph

[Neuron](https://neuron.zettel.page/metadata) also supports `unlisted: true` which could be interesting to disable indexing of particul

[2021-02-27 13:11] mickael-menu opened #2 "Parsing tags"
Tags must be parsed from the YAML frontmatter (`tags` and `keywords`) and inline with a special syntax. Many syntax flavors exist, let's focus on the most common ones:
  * `#hashtags` (Bear has `#multi words#` tags)
  * `:colon:separated:tags:` (e.g. [vimwiki](https://github.com/vimwiki/vimwiki/blob/619f04f89861c58e5a6415a4f83847752928252d/doc/vimwiki.txt#L1449), [Org mode](https://orgmode.org/man

[2021-02-27 13:12] mickael-menu opened #3 "Filtering by link relations"
Link relations (Folgezettel, references, etc.) are parsed in the database, but we cannot filter notes per link relation yet.

[2021-02-28 11:22] mickael-menu opened #4 "Terminal borked when piping content to Vim"
When setting `vim` for the `editor`, the terminal is borked after creating a note with a piped input:

[code]

This works fine with Neovim though (`editor = nvim`).

Most likely caused by spawning Vim with the same stdin as `zk`. Could be fixed by running Vim with `vim file </dev/tty`.

[2021-03-06 18:38] #2 closed

[2021-03-14 16:22] mickael-menu commented on #3
Here's an interesting discussion on Obsidian's forums about link relations: https://forum.obsidian.md/t/add-support-for-link-types/6994/24

[2021-03-14 16:31] mickael-menu opened #9 "Grep mode for search with exact matches"
The `--match` option is super fast and usually find more desired results, but it could be useful to have an additional `--grep` one looking for exact matches in all the notes. Regular expressions could be enabled as well for more advanced use cases.

[2021-03-15 18:16] megalithic opened #10 "Ability to use XDG_CONFIG_HOME path for ZK's config and templates"
Hey there @mickael-menu!

I was recently alerted to this project by @evantravers and am super excited to dive in!

One thing I've been trying to do with my dotfiles and my system setup in general, is to move everything config-wise to `XDG_CONFIG_HOME` (`~/.config/`). I see there looks to be some flexibility for `path` in `zk.go` where you're joining that given `path` with a fixed `.zk` dir for tho

[2021-03-15 18:45] mickael-menu commented on #10
Hi Seth, welcome!

`zk` is working a bit like Git, in that its config is local to a particular notebook. The `.zk` folder is located at the root directory of a notebook. [You can find more info about it  here](https://github.com/mickael-menu/zk/blob/main/docs/notebook.md).

But I think some of `zk`'s settings would definitely make sense in a global config, such as [command aliases](https://github.

[2021-03-15 18:48] megalithic commented on #10
Ahh, that makes more sense. I was trying to get a sense of how/what was acting as the root "key" for the config and the notebooks.

I'm curious, do you use something separate for more "wiki"/vimwiki types of use cases?

[2021-03-15 19:12] mickael-menu commented on #10
I spawned a new discussion for Vim: https://github.com/mickael-menu/zk/discussions/11

No but why not! I don't think my setup is very special, but it could help showcase some of `zk`'s coolest features better than the animated SVGs in [Getting started](https://github.com/mickael-menu/zk/blob/main/docs/getting-started.md).

[2021-03-16 18:00] evantravers commented on #10
I'm going to 👍 this idea… mostly because I sync my wiki back and forth on dropbox… and I can't figure out how to tell the second computer to use ~/Dropbox/wiki as it's primary notebook. On the first computer, I just ran `zk init`, and everything was fine, but I can't figure out how to point `zk` at the folder on the second… I think a config file would be good.

[2021-03-16 18:29] mickael-menu commented on #10
@evantravers I started working on the global config, but I'm not sure this is going to solve your problem.

A `zk` notebook is really like a Git repository, and `zk init` is similar to `git init`: it creates a `.zk` folder in the current directory. As long as the `.zk` folder is also synchronized with Dropbox, you should not need to run `zk init` on the other computer.

There is no notion of "glob

[2021-03-16 21:09] mickael-menu commented on #10
I implemented it in this PR: https://github.com/mickael-menu/zk/pull/12

[Here's a macOS build](https://github.com/mickael-menu/zk/files/6152231/zk.zip), I will wait for your feedback before merging the PR. And I'm looking forward to any cool aliases you may add to your dotfiles repos! ;)

[2021-03-17 12:18] mickael-menu opened #13 "Run commands from outside a notebook directory"
[There has been some discussions](https://github.com/mickael-menu/zk/issues/10) around the best way to manage a global notebook.

Declaring in the global configuration file a default notebook would go against the design of `zk` in my opinion. A notebook is like a Git repository, with a `.zk` marker similar to `.git`.

However, it could be interesting to specify from the command line the notebook w

[2021-03-17 12:22] mickael-menu commented on #10
@evantravers @megalithic I've given more thought to the global notebook issue and came up with this potential solution: https://github.com/mickael-menu/zk/issues/13

[2021-03-17 13:38] megalithic commented on #13
Exactly this!

[2021-03-17 13:46] megalithic commented on #10
Your solution from #13 makes complete sense and seems like the direction to go.

[2021-03-17 14:51] evantravers commented on #10
I love this. I honestly think that this “git-like” approach is a perfect fit for both vim and unix-y atomic notes in general. Very excited to follow along.

Sent from my iPad

[2021-03-17 17:04] #10 closed

[2021-03-18 18:47] #13 closed

[2021-03-18 18:53] mickael-menu commented on #10
[Here's an updated macOS build](https://github.com/mickael-menu/zk/files/6166575/zk.zip) supporting the `ZK_NOTEBOOK_DIR` env variable per #14. Thanks again for your feedback, I think it's making `zk` more enjoyable to use!

[2021-03-18 21:00] evantravers commented on #10
I pulled and updated it today to play with it… this is really fun. Thanks Mickaël!

Sent from my iPhone

[2021-03-20 15:31] #4 closed

[2021-03-21 19:18] mickael-menu opened #16 "Links with anchors are broken"
If a link's href contains an anchor (e.g. `[[note#section]]`), `zk` will not match the target note. This should be supported as linking to specific sections of a note can be useful.

[Bear supports an alternative syntax for wiki-linking sections](https://blog.bear.app/2020/09/bear-1-7-15-is-out-with-new-features-for-wiki-links-html-export-and-more/): `[[Note title/Section title]]`

[2021-03-25 08:03] mickael-menu opened #18 "Expanding named filters in path-based filtering options"
[Named filters](https://github.com/mickael-menu/zk/blob/fa66e78068d5b1db69a108624482a0cb6030dd1e/docs/config-filter.md) are currently expanded only in the path argument of filtering options, e.g.

[code]

[code]

By expanding it in filtering options taking path arguments as well, we open the possibility for easy nested filtering commands. Named filters would become some kind of "virtual directorie

[2021-03-25 09:20] mhanberg opened #19 "Installation Error"
I was attempting to build the project to try it out and ran into this error `sqlite3-binding.c:195315:10: fatal error: 'unicode/utypes.h' file not found`.

This is on an M1 Mac running macOS 11.2.3 and `go version go1.16.2 darwin/arm64`

<details>
<summary>Full Log</summary>
<pre>
$ ./go install
go: downloading github.com/alecthomas/kong v0.2.16-0.20210209082517-405b2f4fd9a4
go: downloading github

[2021-03-25 09:33] mickael-menu commented on #19
This header is required by the `icu` build tag, I think I forgot to mention a dependency in the installation instructions. Could you try after running this with Homebrew?

[code]

I will get an M1 in about two weeks for further testing 👍

[2021-03-25 09:35] mhanberg commented on #19
I ran that and it appears it is already installed 😅

[2021-03-25 09:38] mickael-menu commented on #19
Ha, not a good sign! I found this too from there https://github.com/mattn/go-sqlite3/issues/543

[code]

If this doesn't work, I will probably need the M1 to try to find a workaround.

Alternatively, you may be able to build `zk` with this, but some filtering options might not work properly:

[code]

[2021-03-25 09:41] mickael-menu commented on #19
icu4c appears to be compatible with Apple Silicon: https://doesitarm.com/formula/icu4c/

[2021-03-26 16:36] megalithic commented on #10
@mickael-menu quick question around global config/templates (https://github.com/mickael-menu/zk/blob/main/docs/config.md#global-configuration-file)..

there still seems to be a requirement that a config.toml exist in your notebook's directory (even the notebook defined in the ZK_NOTEBOOK_DIR; is this expected behaviour?

thanks!

[2021-03-26 16:42] mickael-menu commented on #10
Not really, it's probably just a leftover from the previous behavior. I guess checking the presence of the `.zk` marker should be enough. Thanks for spotting that 👍

[2021-03-26 16:44] mickael-menu opened #20 "Local notebook configuration should be optional"
Only the presence of the `.zk` directory should be mandatory to mark a directory as a notebook.

---
@mickael-menu quick question around global config/templates (https://github.com/mickael-menu/zk/blob/main/docs/config.md#global-configuration-file)..

there still seems to be a requirement that a config.toml exist in your notebook's directory (even the notebook defined in the ZK_NOTEBOOK_DIR; is th

[2021-03-27 13:36] #20 closed

[2021-04-01 17:09] mickael-menu commented on #19
I just received my M1 👍

So the proper command to build was:

[code]

@mhanberg I added a new build for the latest release, if you want to check it out: [zk-v0.3.0-macos-arm64.zip](https://github.com/mickael-menu/zk/files/6245251/zk-v0.3.0-macos-arm64.zip)

[2021-04-01 17:09] #19 closed

[2021-04-03 16:00] mickael-menu opened #22 "Providing a Language Server (LSP)"
`zk` can provide a basic integration with any [LSP-compatible](https://microsoft.github.io/language-server-protocol/overviews/lsp/overview/) text editor by shipping a Language Server.

PR #21 implements a proof of concept server showing promising results, but there's more to come:

* Links
    * [ ] Auto-complete Markdown links with `[` and WikiLinks with `[[`
    * [ ] Open a note from an inline

[2021-04-04 12:34] mickael-menu opened #23 "Link hrefs are not finding the best match"
Link hrefs are matched as a prefix of a note path, however this fails when several notes use the same prefix. For example, in the `docs/` notes a `template` href might match the file path `template-creation.md` instead of `template.md`.

It can be reproduce by following a WikiLink `[[template]]` with the LSP server.

[2021-04-04 13:33] #23 closed

[2021-04-05 01:02] mhanberg commented on #22
Tested this out, it's very cool!

I am seeing an issue using go to definition with neovim builtin lsp, but i'm not sure if that's a neovim problem or a zk problem. The error is `Error executing vim.schedule lua callback: ...stalls/neovim/nightly/share/nvim/runtime/lua/vim/uri.lua:116: attempt to call method 'match' (a nil value)`

<details>
<summary>Log</summary>
<pre>
2021/04/04 21:00:24.323 DEBU

[2021-04-05 08:41] mickael-menu commented on #22
@mhanberg It was actually caused by a bug in a third-party dependency. [I opened a PR](https://github.com/tliron/glsp/pull/3) but forgot to disable the faulty portion in `zk`. You can try again from the latest `main` or the following pre-built binaries:

* [zk-v0.3.0-4-g19f6009-macos-arm64.zip](https://github.com/mickael-menu/zk/files/6257178/zk-v0.3.0-4-g19f6009-macos-arm64.zip)
* [zk-v0.3.0-4-g1

[2021-04-05 18:58] mhanberg commented on #22
I updated and go to def works now 👍.

I use [nvim-compe](https://github.com/hrsh7th/nvim-compe) for completion.

[2021-04-06 13:17] megalithic commented on #22
@mickael-menu first off, this is so great!

I've been using it with `nvim-compe` along with @mhanberg, too.

A couple items I've noticed.

1. When attempting to initiate auto-complete of files with `[[` or `[` depending on the mode you want, it doesn't complete the file extension, which then breaks go to definition, as soon as I manually add the the file extension, go to definition works as expect

[2021-04-06 13:44] mickael-menu commented on #22
@megalithic

I set up the links for my own usage and I usually prefer to omit the extension. But I'll let users configure the format of the generated links in the config later on.

However, the link href is matched as a prefix of the actual path, so it should work without the extension or if you have a unique ID prefix. For example, `[[202005201056]]` would match `202005201056 Interesting subject.

[2021-04-06 18:28] megalithic commented on #22
Thanks @mickael-menu .. I'm still playing around with this to get a repro case for you. I think I might be using something _wrong_; meaning, I'm looking to be able to `[[` then rely on "friendly" titles to complete on. I've also noticed that not all items in my main notebook are showing up in the completion menu. I'll get a loom or something going to demonstrate today.

[2021-04-06 18:30] megalithic commented on #22
Ahh, I'm wondering if certain characters in a filename or title might be breaking completion? `|`, `:`, and  `&` are command items in some of my note file names and titles (i auto-extract calendar titles and use those from meeting note generation and pass that along to zk.nvim to generate the note, or open an existing note with the same file name).

[2021-04-06 20:02] mickael-menu commented on #22
Yes right now the completion is on the note title (heading or YAML frontmatter) and not on the file path. I intend to add both in the completion filter later.

I'll open a new issue for the special characters.

[2021-04-06 20:04] mickael-menu opened #24 "Special characters throw off the YAML frontmatter parser"
It looks like using special characters in the YAML frontmatter or note titles might be breaking the indexing.

_Originally posted by @megalithic in https://github.com/mickael-menu/zk/issues/22#issuecomment-814347167_

[2021-04-06 20:07] mickael-menu commented on #24
@megalithic From the logs you shared, I think it's the content of the YAML frontmatter failing with these notes. Would you mind sharing the content of one of these notes up to the first heading? Redacted if you prefer.

Btw such errors might be visible only after modifying these notes. You can force reindexing the notes with `zk index --force` to see all the errors found when parsing your notebook

[2021-04-06 20:13] mickael-menu commented on #24
I can reproduce this warning:

with the following frontmatter:

[code]

But it's not valid YAML, if it contains a `:` the title must be surrounded by double quotes to produce a valid string, this works:

[code]

[2021-04-06 20:40] megalithic commented on #24
ahh, i will handle that post-haste in my own templates and configs. thank you!

[2021-04-07 04:34] mhanberg commented on #22
Go to definition seems to be working when the current note is in the root of the notebook, but not when the note is in a sub-directory. I noticed this when implementing the "daily journal" example from the docs.

[2021-04-07 08:33] mickael-menu commented on #24
Okay let me know if you have any other warnings after fixing your templates, and then I'll close this issue. I'm not sure there's anything to do in `zk` at the moment.

YAML is annoyingly ambiguous, I wish another format was more widespread for Markdown frontmatters. I'm thinking we could fallback on MultiMarkdown parsing, but it doesn't support lists for tags.

[2021-04-07 17:45] mickael-menu commented on #22
@mhanberg Thanks for spotting that, should be fixed in `main`

[zk-v0.3.0-5-gdd561be-macos-arm64.zip](https://github.com/mickael-menu/zk/files/6273559/zk-v0.3.0-5-gdd561be-macos-arm64.zip)

[2021-04-14 21:25] skbolton opened #28 "Support links to non existent notes"
A portion of one of my notebooks is reserved as a dev notebook where I store snippets and things I want to remember. What I'll often do is link to a note like `[[sql]]`.  I usually don't create these "topic" notes but instead use them as something to query on. Or in Obsidian they still show up in the graph views even though they don't exist.

I tried to take my existing notebook and make it work w

[2021-04-15 11:25] mickael-menu commented on #28
Yes that's definitely a use case I'd like to support with `zk`.

We could fairly easily match the path parameter to an existing link href but I think this deserves a more systematic approach to be usable with other (and future) `zk` features. Maybe introducing a kind of "virtual note" visible in the index but not on the file system? Let me know if you have some ideas.

I don't want to rush this fe

[2021-04-17 11:19] mickael-menu opened #31 "Filter notes with third-party commands with --exec option"
An easy way to have custom filtering options would be to delegate the filtering to a third-party command.

That's what [`find(1)`](https://man7.org/linux/man-pages/man1/find.1.html) is doing with its `-exec` flag:

Here's how it could look like:

[code]

[2021-04-17 11:21] mickael-menu commented on #9
The [`--exact-match` option](https://github.com/mickael-menu/zk/pull/30) addresses the common use case of special characters matching.

For regular expressions, maybe a new [`--exec` option](https://github.com/mickael-menu/zk/issues/31) would be enough while being also more flexible.

[code]

[2021-04-17 11:21] #9 closed

[2021-04-17 13:09] mickael-menu commented on #28
@skbolton I added a new option `--exact-match` instead of `--grep`. You can use it with `--match` to search for terms including special characters. In your case:

[code]

And with this [`zk` alias](https://github.com/mickael-menu/zk/blob/main/docs/config-alias.md) you can make it simpler to use:

[code]

[code]

Pre-built binaries:

* [zk-v0.3.0-8-g083c0da-linux-amd64.tar.gz](https://github.com/mi

[2021-04-18 14:53] mickael-menu commented on #22
I merged in a way to specify the completion link format from the user configuration: https://github.com/mickael-menu/zk/pull/32

[code]

Incidentally, internal link completion is triggered only with `[[` now, not a single `[`. You need to setup your preferred link syntax in the `zk` config.

[2021-04-19 19:20] skbolton commented on #28
Cool that is perfect. I meant to come back to this thread and say that a `--grep` option would be perfect to do the search as you showed, but that works equally as well.

[2021-04-19 19:21] skbolton commented on #28
Do you need to specify `--exact-match` and `--match` or can the search term be passed to `--exact-match`?

[2021-04-19 19:52] mickael-menu commented on #28
You need to pass both flags, --exact-match is just a boolean switch. Let me know if you have an idea to make this less ambiguous

[2021-04-19 21:11] skbolton commented on #28
ah okay I was confused that `-em` was the short switches for `--exact-match` and `--match`. I thought it was just for `--exact-match`. I wonder if in order to avoid that ambiguity calling it just `--exact` might be clearer?

[2021-04-21 16:31] mickael-menu commented on #28
Ha yes, I can see how that can be ambiguous with `-em`. At the same time in the `--help` output it should be clear so I'm not sure it will be a problem in practice (until I suggest to use `-em` 😄) . These flags are shared by several commands so I prefer to keep it explicit, as `--exact` could apply to several things.

[2021-04-21 18:10] megalithic commented on #22
@mickael-menu .. one thing i've noticed recently (not sure if it's a zk lsp implementation or related to neovim's lspconfig and native LS client implementation), is that when trying to "select" a completion item that has spaces it will break the selection and you'll end up with just `First\` instead of `First\ Word` or `First Word`. Is this something that a.) works on coc.nvim; and b.) works for y

[2021-04-21 18:15] megalithic commented on #22
Oh man, update; turns out bullets.vim was the culprit :( that's a bummer.

Soooo.. please ignore my above question. `<CR>` selection on an autocomplete item that has spaces, works just fine. :)

[2021-04-21 18:35] mickael-menu commented on #22
Ha that's interesting because I actually had the same issue with coc.nvim, which was considering spaces as the end of the completion item for some reason. I had to set this in its settings to make it work:

[code]

[2021-04-21 19:56] megalithic opened #33 "Question about debugging notes that might contain issues/errors/etc"
@mickael-menu .. while i've been working on zk.nvim, it's shown that a lot of my notes  mnight have some sort of issue or issues with their formatting/content/etc. I'm wondering how we might go about debugging these? Thanks!

[code]

[2021-04-21 20:19] mickael-menu commented on #33
Yeah the output is not very useful here... I added the note path in the warning message in `main`, that should help. The `yaml` part means that the error is in the YAML frontmatter. If you share the frontmatter of one of the notes I can help you debug it.

[zk-v0.3.0-10-gb82b217-macos-x86_64.zip](https://github.com/mickael-menu/zk/files/6353666/zk-v0.3.0-10-gb82b217-macos-x86_64.zip)

[2021-04-21 21:03] megalithic commented on #33
Thanks so much @mickael-menu!! Will give this a shot to dig further. Just having path info for erroneous files is uber helpful!

[2021-04-21 21:10] megalithic commented on #33
Yes, so helpful! So, it turns out my tags line is erroneous in my frontmatter:

`tags: [#something,#meeting,#oneonone,#person_name]`

Thoughts?

[2021-04-21 21:26] mickael-menu commented on #33
Yeah the problem is that `#` is the start of an inline comment in YAML, so you need to quote these tags if you really want to prefix them with `#`:

[code]

But the idiomatic YAML frontmatter would be without the `#`, which works without the quotes:

[code]

[2021-04-21 21:26] megalithic commented on #33
:facepalm: thank you @mickael-menu!

[2021-04-21 21:28] #33 closed

[2021-04-23 19:09] mickael-menu commented on #22
I created a Visual Studio Code client extension for `zk`, available at https://github.com/mickael-menu/zk-vscode

[2021-04-29 14:47] ZachariasLenz commented on #22
In case anyone else gets stuck when using Pandoc (`markdown.pandoc`) as your filetype in Vim, just add `get_language_id = function() return 'markdown' end` to your config (for Neovim's built-in LSP). This forces the filetype that get passed to the LSP as markdown (otherwise it will send `markdown.pandoc`) so that the LSP can work.

E.g:
[code]

[2021-04-29 15:41] ZachariasLenz commented on #22
On a related note, does filtering the tag/note auto-completion work? If I enter the trigger character (`#` or `[[`), I get a popup with all my tags/notes, but as soon as I start typing to "filter" through the list, I just get normal (non-LSP) auto-completion. I'm using the built-in Neovim LSP client and `nvim-compe`, so not sure if it's an issue with one of them?

[2021-04-29 16:04] mickael-menu commented on #22
@ZachariasLenz Thanks, I'll add this to the documentation!

It depends what you expect but with coc.nvim I can filter though the auto-completion list with fuzzy-matching. It matches the notes' title and their path (which is hidden from the completion items).

I'm not sure what you mean by non-LSP auto-completion? Would you be able to record a screencast?

[2021-04-29 17:33] ZachariasLenz commented on #22
@mickael-menu see the screencast for an  example of what I mean:

https://user-images.githubusercontent.com/81169491/116593769-fd597000-a910-11eb-8c80-f9fd4d892c9c.mp4

[2021-04-29 19:22] mickael-menu commented on #22
@ZachariasLenz Thanks, this definitely doesn't look right. I'm not sure what could be the problem as I'm not using NeoVim's built-in LSP yet. Do you have any idea @megalithic?

(Nice color scheme ;))

[2021-05-11 20:16] mickael-menu commented on #22
[I just merged some pretty exciting new LSP features](https://github.com/mickael-menu/zk/pull/40).

I added two code actions to create a new note using the text selection as title. Either in the current directory, or the root/top directory. It will convert the selection to a link to the newly created note.

This feature builds [on new custom LSP commands: `zk.index` and `zk.new`](https://github.co

[2021-05-16 20:22] mickael-menu commented on #22
`zk` now reports diagnostics for dead links and wiki-link titles.

The wiki-link titles are particularly useful with Neovim's 0.5 built-in LSP client, as they are displayed as virtual text. However I disabled this diagnostic by default as it's not so useful for other editors. You need to enable it in your `zk` config:

[code]

Here's a screenshot after customizing the colors:

<details><summary><t

[2021-05-17 09:36] jrekier commented on #22
I'm able to get the `zn` command to work, including the prompt for a title. However, there appears to be no sign of the entered title once the note is created (see recording below)

https://user-images.githubusercontent.com/9407736/118467264-f352b200-b703-11eb-9774-78f933009704.mov

I suspect I might be doing something wrong ...

[2021-05-17 09:44] mickael-menu commented on #22
@jrekier Looks like your template is empty. In my `zk` notebook I have:

* `.zk/config.toml`
[code]
* `.zk/templates/default.md`
[code]
You can find the available placeholders for the templates [in the documentation](https://github.com/mickael-menu/zk/blob/main/docs/template-creation.md).

[2021-05-17 09:52] jrekier commented on #22
indeed ... thanks !

Now I understand the use of templates better. Changed mine to use yml front matter:
* `.zk/templates/default.md`
[code]

and it works wonders.
Cheers

[2021-05-17 09:55] mickael-menu commented on #22
Btw I found out that we can display diagnostics as virtual text with coc.nvim too, if you don't want to upgrade to Neovim 0.5.

<img width="507" alt="Screenshot 2021-05-17 at 11 54 07" src="https://user-images.githubusercontent.com/58686775/118470032-960c3000-b706-11eb-9df6-d1f35414e482.png">

You will need this in `:CocConfig`:
[code]

[2021-05-25 06:55] entropitor commented on #22
Will there be auto completion for full markdown links as well? `[` should trigger auto complete for markdown links with the canonical title as text and path filled in correctly as url

[2021-05-25 08:21] mickael-menu commented on #22
Yes it's available already, but it is still triggered by `[[` as I think it would be undesirable to have the auto-completion activated for any normal Markdown link (including external links, image embedding, etc.). You need to [customize the link format generated in your config file](https://github.com/mickael-menu/zk/blob/main/docs/note-format.md#markdown).

[code]

However you can have only a si

[2021-05-25 15:24] entropitor commented on #22
Okay, I didn't know about these settings! And with nvim-compe it seems to work much better indeed.

I understand the philosophy better now and while I don't fully agree, I can live with it and it kinda makes sense 👍

Thanks for the many helps!

[2021-06-04 23:08] danymat commented on #22
Hello, I'm the creator of a basic lsp for my Zettelkasten purposes : https://github.com/lsp-zettelkasten/lsp-zettelkasten
It seems we have a lot to share in common (hello @mickael-menu 😃 )!

I initially wanted a fully independent LSP for managing my notes. As I switched from obsidian to Neovim, I lost some good stuff such as automatic linking completion, tags management, etc.

I created the LSP ai

[2021-06-06 05:29] nogweii opened #44 "This is packaged in Arch's AUR"
Hi! Love the tool, especially the LSP integration. With that, I've made and uploaded [this to the AUR](https://aur.archlinux.org/packages/zk/).

Thank you very much!

[2021-06-06 12:12] mickael-menu commented on #22
Thanks for chiming in @danymat.

I definitely thinks there's room for several Zettelkasten-based LSP servers. Especially since our two implementations are quite different. Mine is heavier since it relies on a local database index, but most likely performs better on larger Zettelkästen. It makes sense too when using other `zk` features such as note generation. But there's definitely value in a more

[2021-06-06 12:14] #44 closed

[2021-06-14 19:46] pinpox opened #46 "zk: error: no such function: REGEXP"
I've the following directory layout

[code]

Using commands that include the directory name `journal` result in an error though:
List all notes in `./journal`
[code]
List all notes, excluding `./journal`
[code]

Not sure if this is a misconfiguration or a bug, could you help me out?

[2021-06-14 19:54] mickael-menu commented on #46
Did you build `zk` yourself or use a prebuilt version? It looks like it was compiled on a computer without `libicu`.

Take a look here: https://github.com/mickael-menu/zk#build-from-scratch

[2021-06-14 23:11] pinpox commented on #46
Yes, I did compile it myself. In fact, I'm trying to package the application for NixOS.
Thanks for the link, I was missing the `icu` tag, it now works!

[2021-06-15 05:36] mickael-menu commented on #46
Glad it all worked out!

[2021-06-15 05:36] #46 closed

[2021-06-16 10:25] danymat opened #47 "Links containing accents are not matching the target note"
Hello, I'm starting to use your scripts in order to filter my notes.
I found that `zk list --orphan` does return a lot of notes for me. However I don't have this in neuron or obsidian.
Is it normal?

[2021-06-16 11:49] mickael-menu commented on #47
Could you share an example of a note **A** that shouldn't be orphan? With:

* The path to **A**
* The path to a note **B** which links to note **A**
* The syntax of the link used to link to **A** in the content of **B**

[2021-06-16 12:12] danymat commented on #47
Sure!: (all paths are from the same directory)

1. Path to note 202102251018:

[code]

2. Path to note 202102241246 which links to 202102251018:

[code]

3. The syntax of the link:

[code]

*Note: I'm on macOS 11.4, all notes are created in this computer*

[2021-06-16 14:32] mickael-menu commented on #47
Looks like it's failing because of the accents. It could be an issue with the FS normalization, sometimes accents are not normalized to the same unicode characters between file paths and keyboard input.

Until this is fixed, you could also just use the ID prefix for your links. Not sure it works with Obsidian but this is a best practice to make sure you can retitle your notes without breaking your

[2021-06-16 14:52] danymat commented on #47
Thank you!

[2021-06-17 07:54] pinpox opened #48 "Feature request: Plot graph using graphviz"
It would be nice to be able to visualise the connections between notes as a graph. I have seen this functionality on other applications implementing that implement a Zettelkasten-style notebook and find it very helpful. Here is an [example of how that could look](https://github.com/MaxvdKolk/vimwikigraph#examples).

I propose a command,  e.g. `zk graph` that, that just outputs the source for a gra

[2021-06-18 09:07] mickael-menu commented on #48
I had something similar in mind 👍

I thought about having something like `zk graph --format <format> [filtering]`, using the same filtering options as `list` to get a subset of the graph.

Format could be `json`, `dot`, `svg` and more. And `ascii` format would be great, but that might stretch the terminal a bit too much!

An `--interactive` (xor with `--format`) mode serving an HTML version on the

[2021-06-18 09:16] pinpox commented on #48
Cool, let me know if you need help testing!

JSON would be very nice indeed, as it would allow to feed the output in something that renders mustache templates. I'm specifically thinking of [mustache-go](https://github.com/cbroglie/mustache) here, which I already use to render [static content](https://pinpox.github.io/nixos/), e.g. for [documentation](https://github.com/pinpox/nixos/blob/9abc10d193

[2021-06-18 10:10] mickael-menu commented on #48
Sure, I'll keep you posted on this issue.

I also want to add a `json` option to the list `--format`. Doing it manually is a bit cumbersome and if you have quotes in your note titles they will break the JSON. Actually that might be a better start, as if we expose the `links` in `list` we could process a graph. Even though a dedicated graph JSON schema would be nicer to work with for `zk graph`.

I

[2021-06-18 11:03] pinpox commented on #48
Good point, though I'd assume the ZKs would have to be *really* big it to be an issue performance-wise. Fully agree on the `json` option, that would be hugely useful and allow for great integration with a lot of other tools!

[2021-06-18 11:36] mickael-menu commented on #48
I have a 30k notes ZK for testing and will see if it's an issue with it. If not, we can default with links and optionally add an option to disable links.

[2021-06-19 13:32] mickael-menu commented on #47
@danymat This is fixed in https://github.com/mickael-menu/zk/pull/49, would you mind checking it before I merge the PR? Thanks.

You will need to run `zk index --force` with the updated `zk` to reindex the wiki links.

[zk-v0.5.0-1-g3dd4d3a-linux-amd64.tar.gz](https://github.com/mickael-menu/zk/files/6680764/zk-v0.5.0-1-g3dd4d3a-linux-amd64.tar.gz)
[zk-v0.5.0-1-g3dd4d3a-linux-arm64.tar.gz](https:/

[2021-06-19 14:23] #16 closed

[2021-06-19 21:13] njhoffman opened #53 "Problems building with sqlite3"
Hello, thank you for your work with these scripts.  I encountered a couple issues when trying to build the most recent version (and same with 0.4.0).

1) This might be more of an ubuntu/golang thing, but I initially had to do some hunting to find a missing library, it's part of icu-dev but it wants a specific version which is older and tough to find:
```./zk: error while loading shared libraries:

[2021-06-19 21:15] mickael-menu commented on #48
I've been working on the JSON output for `zk list`: https://github.com/mickael-menu/zk/pull/52

I added a new `{{json x}}` template helper which outputs valid JSON values. We can rewrite your example to print JSON safely:

[code]
(The Handlebars template parser trips on `}}}`, so I added an extra space)

With the new `--header` and `--footer` options, you can output a valid JSON array:

[code]

I

[2021-06-19 21:30] mickael-menu commented on #53
Welcome Nicholas,

Unfortunately I've been mostly using macOS for the past decade so I'm not super savvy with Linux issues.

That being said, the [GitHub action that is building and running the tests](https://github.com/mickael-menu/zk/blob/main/.github/workflows/build.yml) on the repo is based on the `ubuntu-latest` image. [Maybe you can take a look at this environment](https://github.com/actions

[2021-06-19 21:35] mickael-menu commented on #53
I guess that would mean publishing a new repository and image like https://hub.docker.com/r/mickaelmenu/zk-xcompile? Just need to figure out the right `Dockerfile`.

[2021-06-20 13:25] pinpox commented on #48
Very useful, thank you!
Would it be possible to add an array of links as well? Having only the tags, a directed graph showing connections between notes is still not possible I think?

[2021-06-20 13:52] mickael-menu commented on #48
No indeed. I actually added this today, but I'm not 100% sure I want to take this direction with `zk list`. Adding `links` gets quite hierarchical and feels a bit arbitrary (for example, why not have `backlinks` then?). Also I've pondered what information of the target should be part of the link. Probably its title and path but IMO it starts to feel redundant in the JSON.

Technically you should b

[2021-06-20 15:10] pinpox commented on #48
Just a thought: Maybe it would be wise to adhere to the `do one thing, do it right` principle here. I see more value in having a general JSON format representing the data, than some format specific to D3 or any other specific tool. You could declare the actual graphing as a non-feature and provide an example of how to use the external tools (like d3 or dot) to generate graphs.

Adding this to each

[2021-06-20 18:21] mickael-menu commented on #48
Thanks for the food for thought, different use cases are always super helpful!

I fully agree, that's why I wanted to find a standard spec to represent graphs. D3's format is quite clean but you convinced me to use a custom format more semantically related to the note domain, although I will keep the overall structure of D3.

[code]

If you look at [JGF](https://github.com/jsongraph/json-graph-spe

[2021-06-20 19:11] pinpox commented on #48
I see your point, having a better or more wide-used and common structure is definitely a plus!

This is mostly why I put the links in the nodes itself in my example. Assuming the link only has a "target", the source is always the note itself, which would allow to access any field in it as part of the template. E.g. I used `title` in the example when doing this:
[code]
But I could have used any oth

[2021-06-21 19:55] danymat commented on #47
Hello @mickael-menu , I hope you're doing right
Thank's a lot for improving the application and caring about your users.
Unfortunately, I still have issues... I made my repo public if you want to test the notes in your machine : https://github.com/danymat/Brain

[2021-06-21 21:28] mickael-menu commented on #47
@danymat I get only 9 orphan notes using `zk list --orphan` in your repo, after running `zk index --force` with the updated build. Did you try with one of the following prebuilt binaries? The fix is not yet in `develop`.

[zk-v0.5.0-1-g3dd4d3a-linux-amd64.tar.gz](https://github.com/mickael-menu/zk/files/6680764/zk-v0.5.0-1-g3dd4d3a-linux-amd64.tar.gz)
[zk-v0.5.0-1-g3dd4d3a-linux-arm64.tar.gz](http

[2021-06-23 09:44] danymat commented on #47
I tried by compiling zk in the opened branch (because running the pre-compiled version for macOS  you specified returns me an error with icu4c, as latest version for icu4c in brew is 69.1)

[2021-06-23 12:50] mickael-menu commented on #47
I'm not sure what's wrong then. Can you confirm you ran `zk index --force` with the new build? I'll assume the fix is correct since I could test it on your repo and will merge it. We'll see in the next release if that helps you out.

Ha interesting, I didn't know that could be an issue. I'll make sure to upgrade my icu4c for the next one, and will check if I can package the lib directly in `zk` so

[2021-06-23 13:51] danymat commented on #47
When doing `zk --version` I get: `zk 0.5.0-5-g0c3b965`
I did git checkout `fix/wikilinks` and `./go build`, and replaced my previous compiled version with this new one.

[2021-06-23 19:47] mickael-menu commented on #48
@pinpox I noticed you forked the project. If you want to test it out until I add `zk graph`, here's a patch of the changes I made to add `links` in `zk list`: [links.patch.txt](https://github.com/mickael-menu/zk/files/6704510/links.patch.txt)

[2021-06-23 20:02] mickael-menu commented on #47
What you did looks correct to me.

I merged the PR in `main` and built a new version after upgrading my icu4c:
[zk-v0.5.0-4-g5b877dd-macos-x86_64.zip](https://github.com/mickael-menu/zk/files/6704574/zk-v0.5.0-4-g5b877dd-macos-x86_64.zip)

You can check directly if the fix works by looking at the `links` table of the `.zk/notebook.db` SQLite database.

With the old build, the accents are messed up

[2021-06-25 16:02] muralikodali opened #54 "k: symbol lookup error: zk: undefined symbol: u_foldCase_63"
some markdown files are throwing the following error with `zk list`

[code]

[2021-06-25 16:26] mickael-menu commented on #54
Could you share:

* Your OS and architecture
* Which version of `zk` you are using, and if it's one of the pre-built binaries from the Releases page
* A minimal Markdown of a note showing the problem

But from the error, it looks like you don't have the same ICU lib on your system that was used to build `zk`. You might need to build `zk` yourself following https://github.com/mickael-menu/zk#build-

[2021-06-26 12:33] muralikodali commented on #54
My OS is Arch Linux.
I am using latest version of zk ( Version 0.5.0 )

OS info :
[code]
while building from source it throws following error so many times.
[code]
system is hanging up. I have to power off to shut down the computer.

it is also opening browser, showing as follows :
[code]
markdown file attached for your reference.
[e50e83.md](https://github.com/mickael-menu/zk/files/6720093/e50e83

[2021-06-26 13:42] pinpox commented on #48
Hey, thanks for the patch!
I'm currently using a nix derivation that build `zk` from a branch/repo of my choice to test it. You can find my package here, it will install zk from 0.5.0 from github https://github.com/pinpox/nixos/blob/main/packages/zk/default.nix

[2021-06-26 17:34] mickael-menu commented on #54
That's weird, the script is not calling itself. You can run the `go` command manually with:

[code]

I don't understand either what you mean, the build script never open this page (or any page for that matter).

Maybe you want to check here with @nogweii who packaged `zk` for Arch Linux: https://github.com/mickael-menu/zk/discussions/45

Works fine for me.

[2021-06-26 20:36] mickael-menu commented on #48
@pinpox You can try out the [`feature/graph`](https://github.com/mickael-menu/zk/tree/feature/graph) branch. Still a work in progress but it should give you everything you need with:

[code]

You can use the `path`, `sourcePath` and `targetPath` properties as node IDs.

Also I removed the `./go` script to build the project, you can use directly `make` or `make install` now. But it looks like you w

[2021-06-26 22:01] pinpox commented on #48
Awesome! This makes it easy to generate graphs. Here is a working example:

File `template.mustache`:

[code]

Then do:
[code]

You can also use `neato`, `fdp`, `sfdp`, `twopi` or `circo` instead of `dot` (see [here](https://graphviz.org/#roadmap) for details) to alter the resulting layout.

Example using `sfdp` which seems  to look the best for my test data:
![sfdp](https://user-images.githubuser

[2021-06-27 09:14] mickael-menu commented on #48
Nice, thanks!

I think you should be able to adapt [the code of the link you shared](https://github.com/joashxu/zetteltools/blob/master/force_graph.html) easily. Just need to expand the `$data` variable inside after converting the JSON to the D3.js format with `jq`.

[2021-06-27 11:22] muralikodali commented on #54
Thanks for your reply.

It is the problem with fish shell. I have installed zk from source in zsh shell environment.

But ```zk list``` is producing the following error :
[code]
I have tried to install as you suggested  with ```CGO_ENABLED=1 go -tags "fts5 icu" install```

It outputs  :
[code]

[2021-06-27 11:38] mickael-menu commented on #54
Make sure you use at least Go 1.16, `-tags` is a valid flag for `go`.

[code]

By the way, I removed the `./go` script and added a real `Makefile` in the latest `main` commit. Won't help with the `-tags` issue though.

[2021-06-27 12:44] muralikodali commented on #54
I have installed the latest version of go i.e: 1.16.5
[code]
but ```CGO_ENABLED=1 go -tags "fts5 icu" install``` producing the same error, as shown above.

I have tried to build zk with aur package. but that build also failed and i have already reported it, on aur platform.

[2021-06-27 13:42] mickael-menu commented on #54
Check out `go help build` perhaps? I can see this:

		a comma-separated list of build tags to consider satisfied during the
		build. For more information about build tags, see the description of
		build constraints in the documentation for the go/build package.
		(Earlier versions of Go used a space-separated list, and that form
		is deprecated but still recognized.)

[2021-06-27 14:32] muralikodali commented on #54
```CGO_ENABLED=1 go install -tags fts5,icu ```  has thrown the following warning, but installation is successful.

[code]

The compiled binary is installed in the GO root location and indexation of the above file is done without any error.

Thanks for your support.

[2021-06-27 14:32] #54 closed

[2021-06-27 15:43] mickael-menu commented on #54
Ha yes, the `-tags` needs to be after the `build` or `install` subcommand, sorry about that.

[2021-06-27 19:27] pinpox commented on #48
Definitely! I'll try to get a working example with `d3`. One thing I noticed: there are "double links" when a note links multiple times to another. Is that intended/wanted? Of course it can be filtered with `jq` but maybe the links edges should be unique?

[2021-06-27 20:23] mickael-menu commented on #48
Yes because each link might have different associated metadata.

[2021-06-30 14:31] pinpox commented on #48
I got a first working example with d3:
![image](https://user-images.githubusercontent.com/1719781/123978519-37ea9200-d9c0-11eb-8213-35147fd0d1c7.png)
I still want to improve it a bit and will then upload it to some public repository, but if you want to take a look in the meantime the files used are here:
https://gist.github.com/pinpox/17496ff61ad4012dccb238d8f3deca81

[2021-07-01 09:35] mickael-menu commented on #48
Nice, thanks! Chrome gave me a CORS error but I could test it easily running `python3 -m http.server` in the folder.

On neuron they have been working on graphs with D3 as well: https://github.com/srid/neuron/issues/589

We probably need some fine-tuning for the attraction settings. Or maybe using a much smaller font and use zooming.
<img width="1069" alt="Screenshot 2021-07-01 at 11 32 40" src="h

[2021-07-01 11:11] pinpox commented on #48
Yes, the attraction simulation is not optimal. Specifically this example would be a better fit:

(Taken from this example: https://observablehq.com/@d3/disjoint-force-directed-graph?collection=@d3/d3-force )

I have tried modifying my code to use the example settings:
[code]
But can't get it to work. Seems like the different d3 versions don't work exactly the same way, but I havn't been able to fi

[2021-07-01 11:40] mickael-menu commented on #48
I actually never worked with D3 before but I've seen it being used a lot for this use case. If you're able to make the font size much smaller that could be a good workaround.

[2021-07-01 16:00] pinpox commented on #48
Small update. Got the correct forces working. The labels are still messy and overlapping, but I think I'm on the right track now. The simulation now prevents disconnected nodes to "fly away", they all nicely arrange into a circle. I'll either add collision to the text labels too or use some placement algorithm, there seem to be a few options. Another, simpler, way might be just making the links lo

[2021-07-02 10:34] danymat commented on #47
Hello, sorry about the time off.
I did reindex the notes with the newest zk build:

<img width="787" alt="Capture d’écran 2021-07-02 à 12 34 12" src="https://user-images.githubusercontent.com/5306901/124262024-cf232700-db31-11eb-902b-d5ad32ab6219.png">

[2021-07-02 19:56] SevereOverfl0w commented on #53
I got this to work on my machine by building/installing with `go install --tags "icu json1 fts5 secure_delete"` this resolves both the libicuuc.so problem AND the fts5 problem.

[2021-07-10 12:11] pinpox commented on #48
@mickael-menu Is https://github.com/mickael-menu/zk/releases/tag/v0.6.0 compatible with the command above? The `graph` subcommand seems to be missing?

[2021-07-10 12:25] mickael-menu commented on #48
Not yet, the graph feature is a significant change and I need more time to clean up the code. I merged `main` in `feature/graph` so it should be up to date with the recent changes.

[2021-07-13 08:26] physicophilic commented on #22
Hi. I'm having trouble in using autocomplete. Please help.
I'm using neovim 0.5 and have tried both `nvim-compe` and `completion-nvim`.

Say I want to complete the title `sample file` whose filename is `123abc.md`.  There are two ways

1. `[[`  and then type `sam..` and select the file using `<CR>`. This I expect to give `[sample file](123abc.md)` or equivalent.
2.  `[Link]((` and then `sam..` and

[2021-07-15 12:32] mickael-menu commented on #22
@physicophilic Hard to say, from my limited experience so far the various Neovim completion solutions are easy to break with conflicting settings. I would suggest stripping down your `init.vim` until you have something that works.

[2021-07-22 19:18] mrzv opened #62 "Use glow for fzf-preview"
I would like to use [glow](https://github.com/charmbracelet/glow) for `fzf-preview`, but when I try to use it, I just get "Loading" in the preview window, when running `zk list -i`. I'm not sure what the problem is or how to debug it.

[2021-07-23 16:42] Yaco opened #63 "Disable mouse in fzf"
Hi! I would like to disable the mouse interaction when invoking ```fzf``` and be able to select text with the mouse. ```fzf``` already got an option for that, "--no-mouse", but I don't know how to make ```zf``` to call ```fzf``` with that option.

Can you help me? Thanks!

[2021-07-23 16:48] mickael-menu commented on #62
Are you able to use `glow` as you want using `fzf` directly, bypassing `zk`? Looks like `glow` is an interactive program, I'm not sure this works properly in the `fzf` preview.

If you just want to colorize the output, you could try using [`bat`](https://github.com/sharkdp/bat) instead. This is what I personally use in my `zk` config:

[code]

[2021-07-23 16:56] mickael-menu commented on #63
There's no way to customize `fzf` flags in [`zk` configuration](https://github.com/mickael-menu/zk/blob/main/docs/tool-fzf.md) yet, but that would be an interesting feature. You could modify directly the code if you want: https://github.com/mickael-menu/zk/blob/977625bb3d6728efdd7ea8d2376aed238af85972/internal/adapter/fzf/fzf.go#L75-L88

But the most `fzf`-y way to do that would be to set `FZF_DEF

[2021-07-24 23:10] mrzv commented on #62
I'm not sure how to run `glow` directly under `fzf`; I'm not really familiar with `fzf`. `glow` has an interactive component, but running `glow file.md` renders the file without any interaction, so I was hoping there is a way to get it to work. (Not to mention that with `glow` written in `go`, it seems like it's a natural complement to `zk`.)

I'm a happy user of `bat`, and it works fine as `fzf-p

[2021-07-25 08:03] mickael-menu commented on #62
Try this in a folder with Markdown files:

[code]

Then it's a matter of trial and error to find a set of glow flags that works with `fzf`'s preview.

[2021-07-26 20:31] mrzv commented on #62
Ah, that works. And specifying:
[code]
also works. The only thing missing is color.

[2021-07-26 23:37] mrzv commented on #62
I filed charmbracelet/glow#280, so this can be closed.

[2021-07-26 23:37] #62 closed

[2021-07-27 20:28] mrzv opened #65 "Incompatibility with neuron"
When I try to link from a note in a subdirectory (e.g., `journal/`) to a note in the root directory, zk (its LSP support) wants to create a link of the form `[[../abcd]]`. Neuron doesn't resolve this correctly, and renders it as a non-existing link. It does work correctly if the link is changed to `[[abcd]]`, which zk's LSP, in turn, doesn't understand and highlights as an error.

[2021-08-02 14:38] mickael-menu commented on #65
Yeah I assumed that a wiki link contains a note's relative path. There's no specification for wiki links, like with Markdown links: every apps interpret it as they want.

However I'm not against a different approach. I need to check out what the other apps are doing. I think Obsidian is acting like Neuron, but The Archive is doing a simple search. I like the search mechanism, as it's more flexible

[2021-08-02 16:17] mrzv commented on #65
I'm not at the computer, where I can verify this, but I'm 80% sure that the behavior was the same with the Markdown links in neuron. I.e., it didn't recognize the relative path. I won't be able to double-check until tomorrow, but I vaguely remember trying the markdown link, too.

[2021-08-02 16:20] mickael-menu commented on #65
I'm pretty confident Markdown links must be represented as relative paths (as a `<a>` would be), so might be an issue in Neuron in this case.

[2021-08-06 15:12] chris-sanders commented on #22
I'm not sure if this is the right place, but it seems most relevant. I'm trying to get zk working with vim and lsp and can't seem to get things setup correctly.

Changing the nvim versions, the lsp implemenation, and the coc.nvim to dev have made no difference. My autocomplete always leaves extrea "[[" in front of links. I've tried Markdown links and Wiki Links and both still do it. I haven't gott

[2021-08-06 17:38] chris-sanders commented on #22
I've finally found it, maybe I missed this in the documentation but from https://github-wiki-see.page/m/neoclide/coc.nvim/wiki/Completion-with-sources

You can make CR work as expected and confirm with:
`inoremap <silent><expr> <cr> pumvisible() ? coc#_select_confirm() : "\<C-g>u\<CR>\<c-r>=coc#on_enter()\<CR>"`

[2021-08-07 16:00] systemplado opened #66 "alias is not known/executed if -W option is given first"
i have initialized a notebook at `~/notes` and running the command `zk ls -W ~/notes`, on a different directory, returns the correct output (all the notes in oneline format).
however, running the command `zk -W ~/notes ls` returns the following with an exit code of 1
[code]

here is my `~/notes/.zk/config.toml`
[code]

moreover, if i use the command `zk -W ~/notes list --format oneline`, it return

[2021-08-07 16:29] mickael-menu commented on #66
Usually the `zk` subcommand must come first, which is why it fails. However, `-W` could be seen as a global flag so it makes sense that you could set it first, like `--help`.

In the meantime, I suggest two workarounds:

* Set your aliases in the global config file `~/.config/zk/config.toml`, they will be available for all notebooks.
* If `~/notes` is your default (and unique?) notebook, set [`exp

[2021-08-07 16:56] #66 closed

[2021-08-07 16:56] mickael-menu commented on #66
It should be fixed in the latest commit of `main`. Let me know.

[2021-08-07 16:59] mickael-menu commented on #22
@chris-sanders Glad you figured it out yourself. The LSP server is indeed using `additionalTextEdits` to remove the `[[`.

[2021-08-08 00:38] systemplado commented on #66
it seems to be working fine now. thanks for the very quick response!

[2021-08-08 14:53] chris-sanders opened #68 "Allow escaped pipe in wikilink"
When using the Wikilink syntax inside of a markdown table the pipe character has to be escaped to prevent it becoming a new column. Currently the LSP server doesn't seem to allow for the escape character and reports a broken link prevent the use of wikilinks in tables.

| A | B|
|---|---|
| Escaped| [[www.duckduckgo.com\|search engine]]|
| Not Escaped| [[www.duckduckgo.com|search engine]]|

[2021-08-08 21:50] chris-sanders opened #69 "Allow extra frontmatter"
It appears through some light testing that if there are any frontmatter tags that aren't from zk itself a note won't get indexed. Ref: https://github.com/mickael-menu/zk/blob/main/docs/note-frontmatter.md

I'm trying out zk with an emanote site and by default all notes show up in the directory tree. You can hide a note by setting a front matter for `order`. This works but I've found adding this to

[2021-08-08 22:02] chris-sanders commented on #69
Nevermind I'm closing this. What I actually did was use an invalid value in the order field, which does hide the note but presumably b/c Emanote *also* won't process it at that point. Unknown fields are passing through just fine, sorry for the noise.

[2021-08-08 22:02] #69 closed

[2021-08-08 22:38] chris-sanders commented on #65
@mrzv in the mean time I've been playing with emanote and zk and I've got a work around that can let you keep using both for now.

Use Markdown links and don't specify the file extension:
.zk/config.toml
[code]
Now in emanote bypass the "bad link" CSS formatting. Emanote will call the link bad but as long as the extension is left off, the rendered file will default to the .html and the link works.

[2021-08-09 14:10] mickael-menu commented on #68
That's a bit of an egg-and-chicken situation as `zk` is handling escaped pipes to be able to have a link portion with pipes in it.

Not sure what's the right course of action here... Maybe use regular Markdown links as a workaround?

[2021-08-09 14:46] chris-sanders commented on #68
Yup that's what I'm doing, it's perfectly fine and I prefer Markdown links generally. If it's an edge case to deal with it I wouldn't spend a lot of time worrying about this one.

[2021-08-09 14:51] mickael-menu commented on #68
Alright, let's close it for now until maybe someone comes up with an idea.

[2021-08-09 14:51] #68 closed

[2021-08-15 19:32] mickael-menu commented on #47
Closing as it should be fixed in the latest 0.6.0 version.

[2021-08-15 19:32] #47 closed

[2021-08-15 19:32] #63 closed

[2021-08-15 20:30] mickael-menu commented on #65
I implemented a proof of concept in the `better-wikilinks` branch (PR https://github.com/mickael-menu/zk/pull/71).

Basically the wiki link resolution goes through in order of precedence:

1. Prefix of relative path (current/legacy behavior)
2. Match the term in the note paths (should work with Neuron)
3. Match the term in the note titles (for nicer wiki links)

By matching, I mean that it's equiv

[2021-08-15 20:38] mickael-menu commented on #65
To reuse the same template variables [as here](https://github.com/mickael-menu/zk/blob/4d893b9bd6934170d181b5dafe460802700bec1c/docs/tool-fzf.md#template-context), it could look like:

||||
|--|--|--|
| `path`          | string   | File path to the note, relative to the notebook root               |
| `abs-path`      | string   | Absolute file path to the note                                     |

[2021-08-15 21:53] chris-sanders commented on #65
Let's see if I'm understanding.

I've built from the new branch
[code]

I've switched to
[code]

I've tried inserting two links, one to a document in the same folder as the current file, the other in a subfolder different from the current file.
* Both are found and a link by title is inserted
* The link in the same folder as my file works for both emanote and zk
* The link in a subfolder is report

[2021-08-15 22:57] chris-sanders commented on #65
What do you know, running the right version does wonders.

Here's what I'm finding.

Given the layout
[code]
From the journal I can link:
* [[This is a note title]]
* [[notes/z5mj]]

The first bullet is what I get with `link-format = "[[{{title}}]]"`. Zk will insert this with an autocomplete and will follow the link just fine. Emanote however, doesn't find the note.

The second bullet makes Emanot

[2021-08-16 00:27] srid commented on #65
I would consider linking by filename to be more futureproof than linking by title. If you rename a file, there exists tools (the vscode-memo extension does this automatically) to automatically rewrite the wiki-links as well.

https://github.com/svsool/vscode-memo/blob/master/help/Attachments/Automatic%20link%20synchronization.gif

But if you change the markdown title that would be tricky to achiev

[2021-08-16 08:19] mickael-menu commented on #65
Thanks, I didn't test this use case. I think that for the path I should simply do a `%term%` matching against the `path` column instead of using the `--match` equivalent. This way it will match any unique part of the path.

I agree, path matching is safer.

Following the principles from zettelkasten.de, it would be interesting to have:

Filename: `z5mj An interesting note.md`
[code]

And generatin

[2021-08-16 19:39] VolkovIlia commented on #22
Will it be the PR to [lsp-config](https://github.com/neovim/nvim-lspconfig) or any instruction for setting it up with `nvim` `lspconfig`??

[2021-08-16 21:37] mickael-menu commented on #22
Probably not a PR to `lsp-config`, but we're working on a dedicated LSP plugin, see this discussion https://github.com/megalithic/zk.nvim/discussions/41

In the meantime, this should get you started:

<details><summary><tt>~/.config/nvim/init.vim</tt></summary>

[code]

</details>

[2021-08-17 13:02] eric-hansen commented on #22
I'm looking to take what @megalithic had already done and expand upon it, probably utilize Telescope as much as possible in areas the LSP isn't functional or capable (i.e.: orphan listing).  I've gotten a bit of it done.

[2021-08-18 09:55] VolkovIlia commented on #22
Found a bug (nvim + zk.lsp)

If you trying to create link using `lua vim.lsp.buf.definition` command with Cyrillic symbols, it creates ref with ������� blocks.

To reproduce it, write some Cyrillic text - example: `русский`, visualize it and push `<CR>`.

[2021-08-18 09:58] mickael-menu commented on #22
@VolkovIlia Would you mind opening a dedicated issue? It's easier to track it then.

[2021-08-18 12:35] VolkovIlia opened #72 "Cyrillic symbols in zk.lsp"
Found a bug (nvim + zk.lsp)

If you trying to create link using lua vim.lsp.buf.definition command with Cyrillic symbols, it creates ref with ������� blocks.

To reproduce it, write some Cyrillic text - example: русский, visualize it and push `<CR>`.

[2021-08-18 17:51] #72 closed

[2021-08-18 17:52] mickael-menu commented on #72
This was caused by a bug in a third-party dependency. You can try it out again from the latest `main` commit.

[2021-08-26 10:41] srustamo opened #74 "macOS 10.14.6, build fails"
Building with the instruction in the Readme.

[code]

[2021-08-31 20:30] ahmedelgabri commented on #22
nvim-compe successor https://github.com/hrsh7th/nvim-compe#warning is [`nvim-cmp`](https://github.com/hrsh7th/nvim-cmp) so it will be great if this is supported.

[2021-09-12 01:31] wurosh commented on #22
I see that back-links through find references are implemented! Nice! Should they be checked off in the issue tracker?  I was under the impression they weren't there which made me hesitate about adopting this otherwise awesome tool.

One more thing - would it be possible to find references for the current zettel by default (if a link isn't under cursor)? Otherwise I need to find one back-link manua

[2021-09-13 01:16] wurosh commented on #22
Also now that the LSP suppports creating/deleting/renaming files, can `zk` also support renaming zettels and all references to them?

[2021-09-13 14:20] chris-sanders opened #78 "Notes with broken relative paths are excluded from operations"
I've been rearranging some notes so I can use emanote and zk together and I think I've found a bug in the link validation. I'm moving notes found in a subfolder into the root so I can avoid path mismatches. Notes in the subfolder which references relative paths ex: `[This is a link](../my-note.md)` once moved to the root aren't included in results anymore.

It took me a while to notice because the

[2021-09-13 18:12] mickael-menu commented on #78
That's definitely a bug, I think a simple content warning should not prevent the note from being imported.

[2021-09-13 18:31] mickael-menu commented on #22
@wurosh

That's actually why I didn't check this item yet, I had more in mind getting the backlinks of the current note. I'll take a look to see if this can be done when the caret is not over a link, I think there was a blocker last time I checked.

@wurosh  + @nogweii

Yes I would like to have this feature eventually. It won't be quick to implement though.

@VolkovIlia

How is the link format exa

[2021-09-13 18:34] mickael-menu commented on #22
@VolkovIlia

Actually re-reading your example, it looks like you're adding the anchor in the title portion of the link, instead of the path one. That's unusual, is it what Obsidian does? And how should `zk` behave with these? Currently the title portion of the link is not really used except for display.

Anchors in the path portion of a link work with `zk`.

[2021-09-13 18:36] mickael-menu commented on #74
Could you paste all the commands you entered to get this result, as well as your platform? I can't reproduce this issue.

[2021-09-13 18:38] mickael-menu commented on #74
It looks like your `/Users/sr/GitHub/zk` directory is empty.

[2021-09-13 20:25] mickael-menu commented on #22
@wurosh

[Done!](https://github.com/mickael-menu/zk/pull/79) It's available in `main`. I have a few other items on my plate before the next release.

[2021-09-13 20:41] #78 closed

[2021-09-13 20:42] mickael-menu commented on #78
Fixed in `main`, I have a few other things to tackle before the next release.

[2021-09-13 22:01] chris-sanders commented on #78
Cool, I've been compiling from source anyway i'll give it a while thanks
for the quick response.

On Mon, Sep 13, 2021 at 3:42 PM Mickaël Menu ***@***.***>
wrote:

[2021-09-14 02:08] wurosh commented on #22
And just like that I think my life just gained a hard dependency on `zk`. Thanks again @mickael-menu.

[2021-09-14 02:27] chris-sanders commented on #78
Yup just recompiled and tested, all works as expected.

[2021-09-14 04:10] wurosh commented on #22
@mickael-menu fyi https://github.com/neovim/nvim-lspconfig/pull/1249

[2021-09-14 08:17] mickael-menu commented on #22
Sweet! [From a previous conversation I had with mjlbach](https://github.com/megalithic/zk.nvim/discussions/41#discussioncomment-1187387), I wasn't sure a `zk` config would be approved for `nvim-lspconfig`. Thanks for submitting it!

[2021-09-14 13:09] srustamo commented on #74
Indeed.

[2021-09-14 13:09] #74 closed

[2021-09-15 20:21] VolkovIlia opened #81 "Groups not working with flag --working-dirrectory"
For journal organisation I create group `diary`.

[code]

If I use command `zk new journal/diary` it works fine **BUT** it should be `.zk` dir in `cwd`. So if I need run the command from different directory I can't do it without creating `.zk`. The solution is `-W dirname` flag. When I use it `zk` used `.zk` from `dirname` but does not use `group` config.
How to fix it?

[2021-09-16 08:10] mickael-menu commented on #81
`zk` doesn't support nested notebooks, so you should have only a single `.zk` directory at the root of your notebook.

The `zk new` command takes a path (relative or absolute) for parameter, so if your working directory is not the root of the notebook, you need to change the parameter. For example if you are in the `journal/` directory, then you need to run `zk new journal/diary`.

I don't think y

[2021-09-16 12:19] VolkovIlia commented on #81
I don't need nested notebook, I need to create script for notes from any working directory directly in one place, but if I trying to create note when my `cwd` is `~` inside `~/journal/dairy` using `zk new journal/dairy` a got an error: there is now `.zk` folder inside `~`. I have `.zk` inside `~/journal` and I expect, that `~/journal` will be root for my notebook. As I said before, `-W` fix it, bu

[2021-09-16 17:04] mickael-menu commented on #81
Which version of `zk` are you using? With the 0.6.0, when I test the group settings are used with `zk -W journal new`.

[code]

Note the filename of the note created under `journal/diary`.

[2021-09-16 20:19] VolkovIlia commented on #81
I've followed your steps. My final file is `/home/volk/folder/journal/diary/2021-09-16-17qs-untitled.md` but template is
[code]

[2021-09-25 17:44] mickael-menu commented on #65
I merged in the new wiki link matching which should handle the various use cases we talked about.

In addition, there are new variables available when using `link-format`, which can be used for the `[[{{metadata.id}}]]` example:

| Variable   | Type   | Description                                               |
|------------|--------|-----------------------------------------------------------|
|

[2021-09-25 17:44] #65 closed

[2021-09-29 03:51] skbolton opened #82 "zk new broken using group"
Feel free to adjust my title. I don't know the best way to describe what is broken here.

I have boiled my setup down to as simple as I can make it. I only have a `.zk` folder in my notebook directory (I removed the one I normally have in `~/.config`). Also for good measure I removed `$ZK_NOTEBOOK_DIR` from my profile.

Quest is my gamification of a journal so its basically the same as the journal

[2021-09-29 03:55] skbolton commented on #82
Oh and another detail I made the template completely blank for `quest.md` to verify that it’s nothing weird going on with the template generation.

[2021-09-30 07:03] #82 closed

[2021-09-30 07:04] mickael-menu commented on #82
Thanks for spotting this, it should be fixed in `main` 👍

[2021-10-02 19:06] mickael-menu commented on #81
Okay I think I can reproduce the issue, but it's not because of a conflict with `.config/zk/config.toml`.

You mentioned in your first message that you created a `.zk` directory inside `journal` or `diary`. The problem is that the command `zk -W folder/journal/diary new --print-path` will take the first `.zk` folder found starting from `folder/journal/diary`. So if you have a `.zk` folder in `jour

[2021-10-02 23:17] becarepsol opened #84 "Is it possible to list all defined tags?"
I was wondering if it is possible to list all user defined tags, as of now it is
possible to list all notes that include the specified tags; but I'm not sure if
it's possible to list all defined tags.

I want to be able to output all tags as a list so I can feed them as a source
to a picker in my text editor and make sure that I'm using a consistent set of
tags

Thanks

[2021-10-03 10:08] mickael-menu commented on #84
Not yet but I planned to add this feature, so that's a good opportunity. Here's a working implementation, but I have to finish some stuff before merging (including adding a sorting flag). I'll probably get this merged next week: https://github.com/mickael-menu/zk/pull/85

Take a look at the formatting flags to pair it with your text editor, it's quite customizable. This might be useful for you:

[

[2021-10-03 15:11] ahmedelgabri opened #86 "Can't get `--link-to`, `--linked-by` etc… to work."
Here is my full `zk` config

<details>
<summary>zk config</summary>

    # zk configuration file
    #
    # Uncomment the properties you want to customize.

    # NOTE SETTINGS
    #
    # Defines the default options used when generating new notes.
    [note]

    # Language used when writing notes.
    # This is used to generate slugs or with date formats.
    language = "en"

    # The default

[2021-10-03 16:37] #84 closed

[2021-10-03 16:37] mickael-menu commented on #84
Actually I merged it already, so it's available in `main`.

[2021-10-03 20:05] mickael-menu commented on #86
Thanks for the detailed example. 🙏 I could reproduce and locate the issue and will get on with the fix this week.

[2021-10-04 21:29] pwntester opened #87 "include filename in the index"
Hi, thanks for this awesome tool!

This may be something stupid Im missing, but when I search for a note (eg: `zk edit --interactive`) I don't get any hits when I search for the filename. For example, if I search for `2021-10-04`, I don't get any hits even though I have a daily note called `2021-10-04.md`. Is there a way to include the filename in the index?

Thanks!

[2021-10-05 06:28] mickael-menu commented on #87
Welcome 👋

This should work already, could you explain a bit more how you do the search? Are you typing the filename in the `fzf` window opened by `zk edit --interactive`? Or using for example `zk list 2021-10-04`?

Also, what's the path of `2021-10-04.md` relative to the root of your notebook?

[2021-10-05 14:07] pwntester commented on #87
Hi!

I was doing the search via LSP client and since I missed many notes I tried the CLI tool: `zk edit --interactive` and then typing in the `fzf` prompt. I also tried `zk list 2021-10-04` with no results:

[code]

As you can see, Im moving away from Obsidian, but for some time I will be using the two (Obsidian and Neovim+ZK).

Its `☯️ areas/🗓️ planning/daily notes`

[code]

Also, I counted 1000

[2021-10-06 20:08] ahmedelgabri commented on #22
For `zk.new` is there is a way to set the notes directory? Here is my use case, I have a single place where I store my notes inside it. And I want to be able to create a note from anywhere inside of it, currently, this doesn't work because the LSP always tries to look for the closest `.zk` folder & it `zk.new` will not work if that's not the case.

So I have to navigate to my notes directory to be

[2021-10-09 17:20] mickael-menu commented on #86
@ahmedelgabri This should be fixed in `main`, but you will need to run `zk index --force` first to reindex the links.

This will work with `zk list --link-to work/202110031652` but not `zk list --link-to 202110031652`. I'm working on this to match parts of a path.

[2021-10-10 15:19] mickael-menu commented on #22
@ahmedelgabri The problem is that Neovim (by design) starts `zk`'s LSP server only when the current directory and file is part of a notebook, because of this in the config:

[code]

So the `zk.new` command won't be available if you're not in a notebook. Maybe you could automate moving to your notebook before calling `zk.new`.

[2021-10-11 19:40] ahmedelgabri commented on #22
@mickael-menu I think you forgot to push that commit :), nothing is on `main` after `0.7.0` release

[2021-10-11 21:02] pwntester commented on #87
That pretty neat, using `{{style "title" path}} {{style "understate" body}}` helps a lot, some paths may be long though, it would be nice to add a `filename` variable to the template  context that only contains the file name

Im not using the `zk.nvim` plugin (although I planned to grab some of the telescope menus in the future from it), but just using the built-in LSP client. For autocompletion I

[2021-10-18 16:21] adamreese opened #89 "zk index only works in notebook directory"
Here is how to test the issue.  My notebook directory is ~/notes.

[code]

[2021-10-19 08:57] #89 closed, assigned to nobody

[2021-10-19 12:17] pwntester commented on #87
Thanks, no rush, I have my open source projects a bit abandoned lately because of the same reason :)

It was not handling digits correctly: https://github.com/hrsh7th/nvim-cmp/issues/374

[2021-10-24 19:18] nogweii opened #93 "Utility command: Generate a new ID"
I would like a command (and perhaps it's also exposed over LSP?) to generate a new ID following the configuration. My use case is importing old notes from other software / random text files strewn about my system. They don't have an ID and I'd like to add one to them.

For now, duplicating the configuration into a separate script is my solution but I think it would nice to include in `zk` itself.

[2021-10-26 14:11] pinpox opened #94 "Adding zk to `nixpkgs`"
Just wanted to let you know, I'm adding `zk` to [nixpkgs](https://github.com/NixOS/nixpkgs) so it can be installed directly on NixOS, since there seems to be interest by others in using is on that OS.

There is a PR [already open for it](https://github.com/NixOS/nixpkgs/pull/143020) and awaiting review. I'll be keeping the package up to date there, should I miss a release just ping me and I'll bum

[2021-10-26 14:33] #94 closed, assigned to nobody

[2021-10-30 14:44] #93 closed

[2021-10-30 14:46] mickael-menu commented on #93
@nogweii It's available in `main`

[code]

You might need to strip the extra newline that is appended to every generated note to only get the ID.

[2021-11-03 00:51] nogweii opened #98 "zk does not recognize my Wiki link template with a pipe"
Here is part of my configuration:

[code]

This generates a text link from the LSP something like this:

[code]

But it does not get recognized as an actual link to the note:

[code]

My intention with the template is to be able to link to a template without worrying what its filename is as well as enabling custom link text in the source document to allow better flow in whatever context it is in.

[2021-11-04 10:18] mickael-menu commented on #98
This should be supported already. I won't have time to test before next week though.

[2021-11-06 21:10] VolkovIlia commented on #22
Got some problems with autocompletion.
nvim: 5.1
completion: COQ.nvim

Completion works but there is few bugs:
1. Completion triggers by `[[` but the resulting output is `[[Title](ref)` expected `[Title](ref)`
2. After deleting reference after `[[` completion does not trigger till restart nvim.
3. After any deletion completion breaks.

I saw you using `nvim-compe` but `nvim-compe` deprecated, `nvi

[2021-11-06 21:51] ahmedelgabri commented on #22
I use `nvim-cmp` & I never had any issues with completion myself (also previously with `nvim-compe`). Just a guess here, do you have any brackets or snippets engine plugins or something like this that might be conflicting?

[2021-11-08 05:57] VolkovIlia commented on #22
I've deleted snippets engine but issue still here(. I will change autocomplete engine to `nvim-cmp` but it's sad because `coq nvim` is awesome.

[2021-11-09 08:55] wurosh commented on #22
@mickael-menu not sure why but running the 0.7 release I can't find references to the current note when the cursor isn't hovering over another reference. regular references work just fine. This is with neovim's native lsp - is the issue reproducible with other clients?

[2021-11-11 19:43] mickael-menu commented on #22
@wurosh

I'm not sure why, it still works for me with 0.7 and Neovim native LSP client. I'm using this binding:

[code]

Maybe you have something conflicting with the binding?

---

@VolkovIlia

It should cater to any LSP client, although there are some workarounds specific to make things work with VSCode. Maybe `coq.nvim` is not implementing the whole spec? In particular, it needs support for `Ad

[2021-11-11 20:37] VolkovIlia commented on #22
Now I am using `cmp-nvim` and it working fine with `[[ <CR>`, but if I use `[[ <key L>` I got the result with `[[title](ref)`. Mb `[` is better trigger for compl plugins...

[2021-11-12 01:23] wurosh commented on #22
@mickael-menu even when running the command directly (`:lua vim.lsp.buf.references()`) I get the following logs:
[code]

No such problem when hovering over a reference

[2021-11-12 03:45] nogweii commented on #98
did some experimenting:

### These aren't detected as links at all (no LSP hints at all)

[code]

### These get detected as a link, but result in 'not found' LSP indicators
[code]

### These work as expected

[code]

[2021-11-12 04:30] nogweii commented on #98
I hope this makes it a bit easier, here is a repo to reproduce the error: https://github.com/nogweii/zk-issues-98

[2021-11-12 07:35] mickael-menu commented on #98
Thanks, I'll take a look this weekend

[2021-11-12 09:17] ubuntupunk opened #101 "error while loading shared libraries"
I get this on Ubuntu 20.04
[code]
I have lib 66 on my system
[code]

[2021-11-12 09:33] mickael-menu commented on #101
`zk` is built with dynamic linking (because of some dependencies it's complicated to link it statically).

If you don't have the expected library, I suggest you build `zk` yourself [following these instructions](https://github.com/mickael-menu/zk#build-from-scratch).

[2021-11-12 09:33] #101 closed

[2021-11-12 17:35] j-steinbach opened #102 "Date helper fails: no value can start with %"
I am trying to format my weekly-journal filenames with [strftime-style placeholders](https://github.com/mickael-menu/zk/blob/main/docs/template.md#date-helper), as described in the documentation.

Below is my config. The commented string is what I want to do (`2021-W45-Friday-12-November`), the other one is copied directly from the docs. Both fail with `zk: error: failed to open notebook: failed t

[2021-11-12 17:56] mickael-menu commented on #102
It might be because you are nesting double-quotes, try with:

[code]

[2021-11-12 19:45] j-steinbach commented on #102
Yes, this fixed it!

---

I think this could be added to the docs? Maybe in the "config-group" file or as a "common-errors" file? On the other hand people will probably just google and find this issue.

[2021-11-13 08:59] mickael-menu commented on #102
Well I hope this issue will answer future questions ;) In the doc I used single quotes in the examples.

[2021-11-13 08:59] #102 closed

[2021-11-13 15:57] mickael-menu commented on #87
This last PR should cover the remaining suggestion:

* https://github.com/mickael-menu/zk/pull/103

[2021-11-13 15:57] #87 closed

[2021-11-13 18:28] mickael-menu commented on #98
@nogweii Thanks, your sample repo was very helpful.

There's actually several issues:

* The LSP hints are not always reported depending on the type of links. I didn't look into this yet.
* The first one you reported where `--link-to`/`--linked-by` would not work with your wiki links. The issue is that I was matching for a path prefix no matter which type of links was parsed. I fixed this in the f

[2021-11-13 19:37] mickael-menu commented on #98
I fixed the LSP hints/diagnostics in the same PR, there were two issues:

* Spaces around the pipe were not ignored.
* I intentionally avoided sending LSP diagnostics if a wiki link had a title (pipe), as I thought it was redundant. But from your examples I realised it was useful so I enabled them.

The only two cases I didn't fix because they are correct are the following from your repo:

[code]

[2021-11-14 07:20] #98 closed

[2021-11-14 08:50] #48 closed

[2021-11-14 08:51] mickael-menu commented on #48
@pinpox I merged the feature in `main`. Let me know if everything is fine and I'll do a proper release.

You might need to reset your database if you used the old `feature/graph` branch with `rm .zk/notebook.db`.

[2021-11-14 13:38] pinpox commented on #48
@mickael-menu Looks good! I build from master and the command seems to produce correct JSON.

Maybe it would be a good idea to document an example of how to render a proper graph with it somewhere in the docs?

[2021-11-14 13:42] mickael-menu commented on #48
That's a good idea. I didn't spend much time playing with this though, would you consider writing a Markdown page dedicated to the `graph` command?

[2021-11-15 09:25] pwntester commented on #87
Awesome, thanks!

[2021-11-16 19:34] almereyda commented on #48
As a late addition to the reference of the non-working `zetteltools` in the OP, the following adjustments allowed me to render the graph of links between the notes in my Zettelkasten with it.

<details>

<summary>The Zettelkasten is a view on a Logseq Journal.</summary>

[code]

[`http`](https://crates.io/crates/https) is a small webserver that works similarily to `python -m http.server`.

</detai

[2021-11-17 12:01] pinpox commented on #48
@almereyda I'm struggeling a bit to understand. Did you use the gists, your forked zetteltools repo or both?

Could you provide a complete minimal working example?
u

@mickael-menu I'd like to include a full working example in the documentation with the above if possible

[2021-11-17 16:17] mickael-menu commented on #48
Sure, feel free to open a PR on the repo 👍

[2021-11-19 11:47] ghost opened #107 "Feature request: Don't directly create a note with `zk edit` and leave it to the `$EDITOR`"
For example, if you set `editor=vim` for example and put `:q` (don't save that), zk saves the file. Also tested with  mousepad.

[2021-11-19 12:15] somenxavier opened #108 "You cannot pass list to `group.extra`"
I like something like this:

[code]

and in template:

[code]

But it gives me an error

[2021-11-19 13:03] mickael-menu commented on #108
It's not supported, `extra` can only contain strings at the moment.

[2021-11-19 13:04] mickael-menu commented on #107
This is expected, `zk edit` creates a new note on the file system, *then* open it with your editor.

If you just want to see how a note would look like without really creating it, you can use `zk new --dry-run`.

[2021-11-19 17:15] somenxavier commented on #107
But you can change your mind: I start a note, but I have to go (in a hurry), so you don't want to save that. This is my case more times. Perhaps zk could save file after edit is completed (and `$EDITOR` saves effectively the file - so no `:q` in vim).

[2021-11-19 17:29] mickael-menu commented on #107
That could make sense, I'll think about it.

[2021-11-20 20:32] ghost opened #109 "zk list --interactive does not search over YAML headers"
If you run interactive mode and you search for example notes with one tag, then zk does not find them.

[2021-11-21 13:28] mickael-menu commented on #109
Right, that would be useful. I added it in https://github.com/mickael-menu/zk/pull/110.

[2021-11-21 13:34] #109 closed

[2021-11-23 23:04] pwntester opened #111 "LSP go to definition goes to incorrect note"
Hi,

I group notes for the same project under a directory called `<DATE> - Project name` and then I have a main note for that project on that directory with the same name `<DATE> - Project name.md`. When I add a link to that note (`[[<DATE> - Project name]]`) and use the LSP go to definition feature, it opens another note from the same directory.

Steps to reproduce:
- Create a directory called `2

[2021-11-27 14:27] mickael-menu commented on #111
This is caused by `zk` matching any note containing the given portion in its path, ordered by the smallest path.

I guess it could be changed to give precedence to the filename instead of the whole path.

[2021-11-27 19:46] pwntester commented on #111
that would be great!

[2021-11-28 20:50] #111 closed

[2021-11-28 20:51] mickael-menu commented on #111
@pwntester Could you check out the latest `main` and see if it fixes the problem for you?

[2021-11-28 22:42] pwntester commented on #111
Seems to works flawlessly! Will test more thoughfully during the next days. Thanks!!

[2021-12-03 08:46] VolkovIlia opened #113 "Modern arch based systems support"
Since I've updated my system, can't use and build zk anymore. I've got error:
`zk: error while loading shared libraries: libicuuc.so.69: cannot open shared object file: No such file or directory`
The modern core package is  `icu 70.1-1`  Can you make some updates for supporting it? [libicuio.so](https://archlinux.org/packages/core/x86_64/icu/)

[2021-12-03 09:17] VolkovIlia commented on #113
Sorry, this issue is not about "supporting arch", mb it's about build issue from aur. So you are not maintainer of aur repo. I will close this issue.

[2021-12-03 09:17] #113 closed

[2021-12-03 09:43] mickael-menu commented on #113
Yes, maybe check out with @nogweii directly? See https://github.com/mickael-menu/zk/discussions/45

[2021-12-05 15:16] danymat commented on #19
Hello, as of today, it seems that doing `make` on latest release can not compile:

[code]

Using the command you provided just above seems to work:
[code]

[2021-12-05 15:20] mickael-menu commented on #19
@danymat The warning above is not a fatal error, I always got it on the M1 as well but it seems to run fine.

With the second command a number of features won't work, in particular anything using regexes.

[2021-12-05 15:22] danymat commented on #19
Right, thanks a lot !

[2021-12-09 08:02] tmerse commented on #22
Any Progress on this? Especially subtitle completion and Obsidian/Vimwiki link compatibility?

I put together a small video, demonstrating the differences of zk lsp gotoDefinition vs `:VimWikiFollowLink`

https://user-images.githubusercontent.com/2323181/145356905-797ec288-3517-4577-84d3-41d36a5295c1.mov

Jumping to exact subheadings of other files (or the current file, e.g. TOC listings) would be

[2021-12-10 18:59] mickael-menu commented on #22
@tmerse I keep my notes short and atomic, so I don't have much use for jumping to subheadings myself. But I'm open for contributions if you're up for it.

[2021-12-11 08:22] tmerse commented on #22
@mickael-menu : Fair point on keeping the the files small. Unfortunately I'am not familiar with go, but I may look into the source when I find some free time, if not just for the learning experience :)

Thanks for providing this, I think lsp-backed markdown is a great idea!

[2021-12-11 17:29] mickael-menu commented on #22
I added two new commands in https://github.com/mickael-menu/zk/pull/114:

* [`zk.list`](https://github.com/mickael-menu/zk/blob/main/docs/editors-integration.md#zklist) to search for notes.
* [`zk.tag.list`](https://github.com/mickael-menu/zk/blob/main/docs/editors-integration.md#zktaglist) to retrieve the list of tags.

[2021-12-13 18:03] j-steinbach opened #118 "'zk init' terminated by signal SIGTERM (Polite quit request)"
My tried-and-tested ZK install doesn't work anymore. No matter which command I give, my RAM + SWAP go to 100% (~32GB combined), my computer freezes, and then the command quits.

This only happens in my "real" ZK folder. I created a new empty folder in `/tmp/test` and ran `zk init` there -- it worked.

This happens to me on both v0.7.0 and 0.8.0. I removed my `.zk` directory and tried re-creating i

[2021-12-13 20:01] mickael-menu commented on #118
There might be an issue during the indexing phase. Could you try running this in your notebook and see if you can identify the culprit note?

[code]

Making an empty `.zk` is enough to let `zk` recognize a directory as a notebook.

[2021-12-13 20:04] j-steinbach commented on #118
Is `--verbose` a valid flag?

[code]

[2021-12-13 20:07] mickael-menu commented on #118
Yes since `0.8.0`, you should see it in `zk index -h`

[2021-12-13 20:08] j-steinbach commented on #118
Maybe I am blind, but I don't see it:

![image](https://user-images.githubusercontent.com/69524139/145880964-06516ac9-0c98-4bd5-b044-fdb9e96d9f9d.png)

[2021-12-13 20:12] mickael-menu commented on #118
That's weird... Where did you get your `zk` binary?

[2021-12-13 20:17] j-steinbach commented on #118
I built it myself (NixOS), from `commit =  "9ae8e5b041fc26a1e5aba03bc899b7cd7037c5d2"; shortcommit = "9ae8e5b";`. Still, my build might be faulty, so I am going to re-check that.

But the problem has been happening with the old 0.7.0 as well, which I built weeks ago. And that one had been working until yesterday.

[2021-12-13 20:33] mickael-menu commented on #118
Thanks, I'll take a look into this one!

[2021-12-13 20:34] j-steinbach commented on #118
Np, thank you creating this tool and for taking the time and going through this with me. :)

[2021-12-17 12:07] #118 closed

[2021-12-17 15:41] mhanberg opened #121 "--no-input doesn't seem to work for `zk init`"
If I do `zk init --no-input`, it still prompts me for the link style and tag style.

It would be nice to have defaults for those so the flag would work so that I can create the "test automation` part of my [homebrew-tap](https://github.com/mhanberg/homebrew-zk), which is required to get the formula submitted to the core repository.

ideally the test would be something like

[code]

[2021-12-17 17:00] mickael-menu commented on #121
You're right, it was an oversight when adding the `init` wizard.

[2021-12-17 17:07] #121 closed

[2021-12-17 17:42] mhanberg commented on #121
awesome, thanks!

[2021-12-17 18:25] mhanberg opened #124 "[lsp] zk.list command not respect excludeHrefs with createdAfter"
If I query my notes with the following options via the lsp, the excluded note is still included in the result. Here is a dump of the params and the results from my neovim lua code.

<img width="897" alt="image" src="https://user-images.githubusercontent.com/5523984/146590488-b07dd182-4525-4ad7-b7a7-dd70b59dd415.png">

On the cli this seems to work as expected.  I piped the output into wc -l just t

[2021-12-17 18:36] mhanberg commented on #124
Actually i think I made a mistake, one moment while i double check.

[2021-12-17 18:44] mhanberg commented on #124
Yes, my mistake.

I should have used `excludeHrefs` as the key in the query, not `excludeHref`.

Sorry for the noise!

[2021-12-17 18:44] #124 closed

[2021-12-17 22:22] smithbm2316 commented on #22
This is so exciting!! Thanks for the hard work @mickael-menu 😄

[2021-12-19 10:55] kabouzeid commented on #22
Why do the LSP commands need "A path to any file or directory in the notebook, to locate it."? I think the language server should at least default to the `rootUri`.

[2021-12-19 10:57] cljoly commented on #22
I think that would be helpful to run fuzzy finders like Telescope without having a note from the zettelkasten opened.

[2021-12-19 12:23] kabouzeid commented on #22
Hmm I agree that this might be useful. After further looking at the source code, I guess it makes sense, since this server is designed to handle multiple notebooks, and does not use the `rootUri` at all.

This doesn't work so well with nvim-lspconfig, since it'll start one server instance per root directory anyways.

[2021-12-19 12:26] thecontinium opened #126 "LSP: Image ![desc](image.jpg) Links showing as not found"
Hi

I have image links in my markdown. e.g.

[code]

These are showing up as not found through the zk lsp.

Is this expected; I'm not sure image links should be checked for ?

[2021-12-19 12:49] mickael-menu commented on #22
Some commands have a different effect depending where you are located in the notebook (the links produced or the directory where a note will be created), like with the regular `zk` CLI commands.

However defaulting on the notebook root if not explicitly overridden sounds reasonable. I'm not sure if this would be best handled at the level of the LSP server or the `zk-nvim` Lua wrapper though?

Yes

[2021-12-19 14:10] mickael-menu commented on #126
Yes good point, definitely an issue.

[2021-12-19 14:52] #126 closed

[2021-12-19 15:36] kabouzeid commented on #22
I've made some changes, this should now work in neovim with a single instance of the zk server. Please refer to the updated readme.

https://github.com/kabouzeid/zk-nvim/tree/telescope

[2021-12-19 20:55] thecontinium opened #128 "No macos-x86_64.zip for version 0.0.9"
The latest [release](https://github.com/mickael-menu/zk/releases/tag/v0.9.0) for macOS x86_64 seems to be missing ?

[2021-12-19 22:16] mickael-menu commented on #128
Yeah unfortunately I don't have access to an Intel mac until next year. I'll take a look if there's a way to build it from M1, otherwise you can build from source or try the [Homebrew tap](https://github.com/mhanberg/homebrew-zk).

[2021-12-19 22:16] #128 closed

[2021-12-19 22:50] thecontinium commented on #128
That’s a pity. I’m adding zk [here](https://github.com/thecontinium/nvim-lsp-installer/blob/main/lua/nvim-lsp-installer/servers/zk/init.lua#L1) to allow install and load in the same manner as all the other servers I use. If you like I can build it for you; just let me know how and I’ll give it a go ?

[2021-12-20 08:16] mickael-menu commented on #128
Sure, that would be helpful. Unless there's a critical bug I don't think I'll do another release before I get my hands back onto my Intel mac.

To build on macOS you need Go and the `icu4c` lib, you can see the instructions to install this in this section: https://github.com/mickael-menu/zk#on-macos

You can generate the release ZIP with `make dist-macos`

I took a look at generating from the M1 b

[2021-12-20 09:33] thecontinium commented on #128
Here is the build (git checkout v0.9.0; make mac-dist) from an intel mac [zk-v0.9.0-macos-x86_64.zip](https://github.com/mickael-menu/zk/files/7744138/zk-v0.9.0-macos-x86_64.zip)

If you add it to the release page I can test the zk install for [nvim-lsp-installer](https://github.com/thecontinium/nvim-lsp-installer)

Cheers.

[2021-12-20 09:55] mickael-menu commented on #128
Thanks! It's added

[2021-12-22 18:01] kabouzeid commented on #107
If someone else comes across this issue, I‘m using `:Delete` from tpope‘s https://github.com/tpope/vim-eunuch instead of `:q` for this exact use case.

I don‘t really think it‘s possible for zk to solve this while staying editor agnostic. You can probably close this 🤷🏽‍♂️

[2021-12-22 18:19] mickael-menu commented on #107
Good point, I'm not sure it's possible.

Personally I added this in my nvim config:

[code]

[2021-12-22 18:19] #107 closed

[2021-12-24 08:43] mickael-menu opened #131 "Code action to create a new note doesn't take the right selection range"
The range used when creating a new note from the visual selection with a code action is incorrect if the buffer is unsaved.

[2021-12-25 19:02] jin-ahn commented on #1
Hi! is the last task something that is still planned to be added? I am looking for the ability to use custom YAML keys for my own notes and have zk be able to search through for them.

[2021-12-25 19:43] mickael-menu commented on #1
I didn't plan to implement it yet but that could be interesting. Could you give me an example of frontmatter and how you would like to use it from the CLI?

[2021-12-25 22:32] rafamadriz opened #132 "How does zk saerches for tags and how to use tags correctly ?"
Hey, thanks for this tool, I've been playing with it and I really like it.

Something that it's not clear to me is how does `zk` searches for tags and how to use them. I have selected the `#hashtag`  method, and the only way I can make `zk` to list tags is by putting them in the metadata header with the YAML frontmatter. Like this:

[code]

That's the only way that tags get listed when doing `zk t

[2021-12-26 10:48] mickael-menu commented on #132
`zk` should be able to find your `#hashtag` anywhere in the note.

Here's a test I did today:

[code]

Could you share your config file under `.zk/config.toml`?

You should have this in it:

[code]

[2021-12-26 10:55] rafamadriz commented on #132
Oh finally it works, for some reason it was set to false even though I selected the `#hashtag` syntax when creating the notebook, I didn't touch the config file at all. Thanks for your help!

[2021-12-26 10:55] #132 closed

[2021-12-26 11:31] jin-ahn commented on #1
---
title: week 1
date: 2011-05-16 09:58:57
class: WR101
Professor: Dr Joe Smith
Reading: Smith 20-25
keywords: [writing, essay, practice]
---

I want to be able to do something where I find all notes from class 'wr101' or that have 'professor' as a keyword
I understand that technically I can just add Wr101 and Dr Joe Smith to tags or keywords  to be searchable, but I also want the ability to cate

[2021-12-26 11:58] thecontinium opened #134 "Support MultiMarkdown"
Hi

I use multimarkdown which is used by 1Writer on iOS.  Multimarkdown supports Yaml metadata. The specification from multimarkdown is:

“The metadata must begin at the very top of the document - no blank lines can precede it. There can optionally be a --- on the line before and after the metadata. The line after the metadata can also be .... This is to provide better compatibility with YAML, tho

[2021-12-26 12:43] mickael-menu commented on #134
I'm afraid this would risk creating interoperability issues if `zk` supports a looser YAML frontmatter.

I'd rather support real MultiMarkdown metadata ([link to the specification](https://fletcher.github.io/MultiMarkdown-6/syntax/metadata.html), which should be easy to parse). It would also solve [some issues with YAML](https://github.com/mickael-menu/zk/issues/24#issuecomment-814719341).

[2021-12-26 13:41] thecontinium commented on #134
Makes sense.

I’ll pursue 1W supporting the pre and post ---

--
The Continium

On 26 December 2021 at 12:43:34, Mickaël Menu ***@***.******@***.***>) wrote:

I'm afraid this would risk creating interoperability issues if zk supports a looser YAML frontmatter.

I'd rather support real MultiMarkdown metadata (link to the specification<https://fletcher.github.io/MultiMarkdown-6/syntax/metadata.html>

[2021-12-26 13:58] thecontinium commented on #134
FYI: [Marked](https://marked2app.com) uses a version of mmd which I use on the Mac.

[2021-12-26 15:50] mickael-menu commented on #1
Would something like this work?

[code]

For this, do you mean that `zk list --metadata professor` should match any note that has a `professor` metadata, no matter its value?

[2021-12-27 21:17] mbriggs opened #135 "Idea: Create links for things that do not exist."
Been really been liking zk, trying to migrate off of craft.do.

Something I really like about craft is the ability to link to things that do not exist yet. I will create links for most nouns and ideas even if I don't have content yet to collect backlinks.

I feel like I can accomplish this today with what exists with some lua in nvim, but it will be kind of hacky, and I feel like this is something

[2021-12-28 18:56] thecontinium opened #136 "Regenerate book using new filename and link format rules ?"
Hi

Once a notebook has been created is it possible to regenerate the files and associated links in those files using new filename and link formatting rules ?

cheers

[2021-12-28 20:57] mickael-menu commented on #135
Yes I thought of adding stuff to handle "ghost/virtual" notes, especially to see all the backlinks associated to it.

I'm not sure I understand exactly the steps you described though. There's already a code action to create a new note from a selection.

Do you want to add a code action to create a new note (including generating a filename) from an already existing `[[title]]` link in a note, if it

[2021-12-28 21:04] mickael-menu commented on #136
You can't do this with `zk` and I don't think I want to add such feature. However, I think it should be relatively easy to write a script to do this using:

* `zk new --dry-run` and a template to generate a filename, see something similar here https://github.com/mickael-menu/zk/issues/93
* `zk rename` to rename a note, unfortunately it's not yet implemented.

[2021-12-28 21:04] #136 closed

[2021-12-29 00:53] jin-ahn commented on #1
Yes to both! Some of my notes are for classes, some of my notes are for work, so they don't always share the same metadata fields. I want to search based on a metadata field as a way to "categorize" my notes

[2021-12-31 09:49] Nelyah opened #137 "Allow different options for FzF in interactive filtering"
Thank you for  the tool, it is a brilliant piece of software which I'm enjoying very much!

One of thing I wish would be possible is adjusting the FZF parameters. The one I'm thinking most is `--height 40%` (instead of 100% in `zk edit -i`). I've looked a bit at the code and it seems to be set in `internal/adapter/fzf/fzf.go:75`.

One solution would be to prepend that list of arguments with the en

[2021-12-31 13:56] mickael-menu commented on #137
Thank you for the kind words!

That sounds like a good strategy. The user options could be specified [in the configuration file](https://github.com/mickael-menu/zk/blob/main/docs/tool-fzf.md#integration-with-fzf):

[code]

Would you be interested in contributing a PR for this?

[2021-12-31 14:55] Nelyah commented on #137
I will try to see in the next few days if I can come up with something, though I have never really written a single line of Go before.

The issue doesn't seem _too_ complicated though, so maybe I'll be able to get something working and this would be a good introduction to the language. I'll let you know how this goes!

[2021-12-31 15:11] mickael-menu commented on #137
Thanks, you can create a draft PR and if you check the "Allow edit from maintainers" checkbox while creating the PR I can finish it for you if needed.

[2022-01-01 00:13] roginfarrer opened #138 "Bug: LSP failing to resolve correct notebook directory"
This bug arises for me in Neovim using mickael-menu/zk-nvim, but I think the issue is happening in this codebase.

When I run `:ZkList` in a directory that is not my notebook, I get the following error:

[code]

In the error output, you can see the path it's looking for is `/Users/rfarrer/Dropbox (Maestral)/~/Dropbox (Maestral)/Obsidian`. It appears it's joining the current working directory with

[2022-01-01 00:26] roginfarrer commented on #138
Ah, I actually figured out the issue. I was setting the `$ZK_NOTEBOOK_DIR` incorrectly.

[code]

[2022-01-01 00:26] #138 closed

[2022-01-02 09:59] sm1999 opened #139 "Feature request: Support for Windows"
First off thank you for this great application!

It will be great if Zk supported windows.
I tried to build it on windows but got the following error
[code]

[2022-01-02 10:24] mickael-menu commented on #139
Unfortunately I don't have a Windows machine nor the knowledge to build and test `zk` on it. I would welcome a PR enabling Windows support though, as long as the support stays "unofficial".

[2022-01-02 14:43] williamboman commented on #139
:+1: Subscribing to this thread in the interest of adding Windows support in https://github.com/williamboman/nvim-lsp-installer

[2022-01-03 20:26] grawlinson opened #141 "Tests failing due to missing tags"
Hi! When packaging this for Arch Linux, I ran into sqlite/fts5 issues with the tests and I figured out it was because I wasn't passing the required tags to `go test`.

I thought you may be interested in case this issue pops up for you.

The fix is [here](https://github.com/archlinux/svntogit-community/blob/7e5f05b0080d66b9aa8eeeb1e778a4d8cc1aa628/trunk/PKGBUILD#L51).

[2022-01-04 08:42] mickael-menu commented on #141
Thanks, this is indeed a frequent issue when building manually the project.

[2022-01-04 08:42] #141 closed

[2022-01-05 09:32] tissieres commented on #22
Hello!
Is it planned to add auto-complete on tags in the YAML frontmatter?
It works well when added with `#` but I use them only in the frontmatter.

[2022-01-05 17:10] rafamadriz opened #143 "Support for org files"
How difficult would it be to add support for org files ? Like reading the metadata, for example: `#+TITLE: This is a title`, `#+TAGS: :org:`, `#+ID: note-id`, `#+DATE:`, etc

How does zk searches for those patterns in a markdown file with the yaml frontamatter ? does it uses regex or some other method to retrieve that data ?

[2022-01-05 17:29] mickael-menu opened #144 "LSP auto-completion of YAML frontmatter tags"

[2022-01-05 17:34] mickael-menu commented on #144
LSP auto-completion needs a trigger character, which is easy with `#hashtags` and `:colon:tags:`, but not with the YAML frontmatter since there's no character distinguishing tags.

A possible workaround would be to use `#` for the trigger character, and if we detect that we are inside a YAML frontmatter, request the editor to remove it after insertion. Not super straightforward but feasible, I thi

[2022-01-05 17:34] mickael-menu commented on #22
@tissieres I answered there https://github.com/mickael-menu/zk/issues/144

[2022-01-05 17:55] mickael-menu commented on #143
I tried to keep `zk` independent from Markdown, so I think it wouldn't be super difficult.

* There's a `NoteContentParser` interface to implement to support additional formats:
    https://github.com/mickael-menu/zk/blob/63dee0ce3f09c7a786fc5d158f411a785bfe1a29/internal/core/note_parse.go#L22-L41
* Everything related to Markdown is under `internal/adapter/markdown`.
    * It implements `NoteConte

[2022-01-05 17:58] mickael-menu commented on #143
By the way I've been toying with the idea of adding a JavaScript plugin architecture in `zk`. This would be an interesting use case for it.

[2022-01-05 19:38] kabouzeid commented on #144
This is not completely true. Completion is also automatically triggered when typing an identifier, and it can of course always be manually triggered by the user. See (https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#completionOptions) and (https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#completionTriggerKind).

I've jus

[2022-01-05 19:42] mickael-menu commented on #144
Ha that's interesting, do you know if there's a way to request a specific kind of completion item from the client?

[2022-01-05 19:49] kabouzeid commented on #144
I'm not sure I understand what you mean. The client can (and usually does) filter and sort the completion results locally according to user prefs. But how would that help here?

[2022-01-05 20:56] mickael-menu commented on #144
No I mean how do you know whether to complete tags or links (not a great example, but more completion items might be added later on) from the LSP server when receiving this?

Right now, I'm using the value of the `triggerCharacter` for this.

Or maybe the server is supposed to check the location of the caret to infer the kind of item to complete?

[2022-01-05 20:57] kabouzeid commented on #144
Yes :)

[2022-01-05 21:12] rafamadriz commented on #143
What do you think about letting people configure how `zk` searches for the metadata fields that it can use ?

`zk` doesn't need to parse (or know) the entire syntax of org, markdown or asciidoc, etc. In theory it just needs to recognize whenever it finds any of the metadata that `zk` can use. This would allow people to use any text format they want, and then in the config file there could be an op

[2022-01-05 21:19] mickael-menu commented on #144
I think it would be pretty trivial to support for:

[code]

But YAML bullet lists would require more work:

[code]

[2022-01-05 21:54] kabouzeid commented on #144
Kind of hacky, but relatively easy and might work very well:
On the server side, we could insert some random string at the completion position, then parse the yaml and see if the inserted random string would be parsed as a tag.

[2022-01-06 07:15] mickael-menu commented on #144
Yeah that should work fine.

[2022-01-06 07:53] mickael-menu commented on #143
Prefixes or regexes might be too fragile, as you also need to validate the context, for example that you are inside a YAML frontmatter. It gets even more complicated with lists (e.g. tags). This would also be pretty limited to give a proper support in the LSP server.

So I'd rather add an extension endpoint and let people decide on the best strategy for each format.

I'm open to alternatives, but

[2022-01-06 11:32] rafamadriz commented on #143
Yes, you're right, the concern I had with my ideas is that you need to validate some context or set some rules for the prefix/regex so it doesn't match actual body text by mistake. And making any fileformat work with LSP sounds very complicated.

Oh that makes sense, in that case Lua could limit the amount of potential plugin creators. Didn't know Lua was that dreaded, I wonder why.

Oh yes renami

[2022-01-06 17:14] mickael-menu commented on #143
Maybe the unorthodox syntax or quirks like 1-indexed arrays?

Yes, also an important feature 👍

Not the first time this was raised, also a very useful feature, as well as the auto-completion of media links.

Ignoring `notebook.db` in the repository is a good idea. The "source of truth" of a notebook should always be the note themselves and `zk` rebuilds the database automatically when missing. The

[2022-01-07 10:07] mickael-menu commented on #144
Could you check this out https://github.com/mickael-menu/zk/pull/146? I implemented your idea @kabouzeid, it works well but requires the YAML frontmatter to be valid, so if you have a hanging `[` or `"`, it won't auto-complete.

[2022-01-07 19:09] stefanvanburen commented on #22
thought I'd add (since I hadn't seen this discussed above) that with default neovim lsp omnifunc used for completion, the [`additionalTextEdits`](^1) aren't currently applied, so starting with `[[` to trigger completion and then selecting an entry, say "Test", gives you `[[[[Test]]` 😞.

Currently trying out `nvim-cmp`, which as mentioned above fixes this issue, but hopefully that helps anyone else

[2022-01-07 19:39] kabouzeid commented on #22
@stefanvanburen there is also https://github.com/mfussenegger/nvim-lsp-compl if you find `cmp` too bloated, and want a more minimal completion plugin which supports `additionalTextEdits`. Personally I like `cmp` though.

[2022-01-07 19:41] stefanvanburen commented on #22
@kabouzeid thanks! hadn't seen that one - was under the impression that `cmp` was the main neovim autocompletion plugin nowadays, will take a look!

[2022-01-08 13:45] mickael-menu commented on #144
cc @tissieres

[2022-01-08 15:19] tissieres commented on #144
Hi @mickael-menu
Just tested it and it works perfectly for me. BTW, I'm using a template with a valid frontmatter at the beginning:
[code]
Thanks very much!

[2022-01-08 15:42] #144 closed

[2022-01-10 15:33] ndavd opened #149 "Question: How are zk notes supposed to be navigated?"
Suppose I have a note which contains multiple links to other notes on the topic.
Ideally I would be able to open that note read its contents, click on a link and go to the respective note.

How can that be done?

[2022-01-10 16:10] #149 closed, assigned to nobody

[2022-01-11 04:32] rayandrews opened #152 "More date utilities in handlebar template and config file"
Hi!
Thank you for this application! It really helps me maintain my second brain.

However, I have specific use cases such as daily planning.
I usually create a plan for tomorrow in the night.
I think it would be good if this application has `{{ date tomorrow (format) }} `.

Or is there any other way to get the tomorrow date?

Thank you again!

[2022-01-11 05:31] rayandrews commented on #152
For now I use this hack to make it works.

[code]

[code]

[code]

Results:

[code]

Feel free to close this!
If you have any better suggestions, feel free to reply.
This proves that the program is **future-proof** indeed!

Thanks!

[2022-01-11 09:03] mickael-menu commented on #152
I recently merged in `main`  a new `--date` flag for `zk new`, which should address this issue.

It will replace the default value of `now` in the template and can be used like this:

[code]

Let me know if that solves your problem.

[2022-01-13 03:48] rayandrews commented on #152
Thank you that fixes the problem!

However, I find 1 issue, so far. Let me know if I am wrong.

[code]

It shows that I create `2022-01-14.md`
However, it will be 2022-01-13 tomorrow (in my timezone)

Is the date utilities in `zk` not respecting the timezone?

Thanks!

[2022-01-13 09:11] mickael-menu commented on #152
Ha I'll take a look, which timezone are you in?

In the meantime, you should be able to pass a RFC 3339 date as:

[code]

[2022-01-14 00:12] rayandrews commented on #152
Hi, I am in Central Standard Time.

[code]

Yes this code works flawlessly!

[2022-01-14 20:37] lowski opened #155 "LSP configuration for ale"
Hey!
Thank you for this app. It's great!

I'm using regular Vim with [Ale](https://github.com/dense-analysis/ale) for linting, fixing and LSP. It works fine for built-in languages like TypeScript or Elixir but when I added custom configuration for zk notes like this:

[code]

I don't see any completion when I type `[[`. I also tried `CTRL-X CTRL+O` for omnicompletion but I only see `Pattern not fo

[2022-01-15 08:48] mickael-menu commented on #155
I'm not sure I can help as I'm not familiar with `ale`.

Could you share your `/tmp/zk-lsp.log` file after entering `[[` and also triggering completion manually?

[2022-01-15 12:08] mickael-menu commented on #152
@rayandrews Would you mind testing `zk new --date tomorrow` from the `fix/issue-152` branch again? This should fix the timezone issue.

[2022-01-16 23:55] rayandrews commented on #152
Yes!

This is the result:
- [X] Tomorrow date (you can see my tmux statusline)

<img width="715" alt="image" src="https://user-images.githubusercontent.com/4437323/149683139-b3fc1105-acb1-4564-a689-261f2409b7e6.png">

- [X] Yesterday date

<img width="720" alt="image" src="https://user-images.githubusercontent.com/4437323/149683170-840f4e9c-e619-4933-894d-324f6a7e9670.png">

it worked flawlessly!

[2022-01-18 15:50] zhengpd opened #158 "Feature Request - Quick note with single command"
It would be helpful to allow quick note with single command like `zk new 'Content of one-line note'`, creating a new one-line note quickly.

[2022-01-18 16:17] mickael-menu commented on #158
Assuming that you are using a [template](https://github.com/mickael-menu/zk/blob/main/docs/template-creation.md) containing at least the `{{content}}` variable, you can pipe in the content of your note like this:

[code]

If you call this often, you might want to add [a new alias](https://github.com/mickael-menu/zk/blob/main/docs/config-alias.md) in your config file:

[code]

Then you can use:

[c

[2022-01-19 01:24] zhengpd commented on #158
@mickael-menu Really helpful!

[2022-01-19 01:24] #158 closed

[2022-01-22 21:03] skbolton opened #159 "Add flag to override id of new note"
It would be awesome if there was an --id flag that could be passed when generating a new note that would bypass the id generation rules. My use case is that I am starting to create notes for tickets I am assigned at work. Its pretty trivial to extract ticket IDs from branch names and open associated notes. I tried mapping tickets IDs to zk ids bit it was messy. And I also didn't want to introduce

[2022-01-23 02:55] skbolton commented on #135
Same as #28

[2022-01-23 04:44] skbolton commented on #159
I suppose another compromise could be changing the filename template for these notes to go off of extra.id

[2022-01-23 09:56] mickael-menu commented on #159
Yes that's what I was going to suggest. Of course that means that you will need to manage two set of filename/note templates.

I wouldn't mind having an `--id` flag to override the default generated ID though. Feel free to open a pull request if you want to contribute it, thanks!

[2022-01-23 09:58] mickael-menu commented on #135
Good point, thanks. I'll close this one as duplicate. Feel free to chime in in #28 @mbriggs

[2022-01-23 09:58] #135 closed

[2022-01-23 10:23] skbolton commented on #159
Cool looking through the code now and I feel pretty confident that I can get this done no problem.

[2022-01-23 12:47] mickael-menu commented on #22
Considering that there are often issues with the `additionalTextEdits`, [I merged in a PR](https://github.com/mickael-menu/zk/pull/160) that disable them by default. [You can still opt-in manually](https://github.com/mickael-menu/zk/blob/main/docs/config-lsp.md) for clients like VS Code[^1] requirint it for link completion to work properly.

Let me know if it works for you @stefanvanburen.

[^1]:

[2022-01-23 13:46] #152 closed

[2022-01-23 13:47] mickael-menu commented on #152
Right, Go supports by default only the full RFC 3339 template including the timezone.

I added a few more formats:

https://github.com/mickael-menu/zk/blob/c429517c6bdb25c19e040a43238b3904847efcb2/tests/cmd-new.tesh#L69-L81

It's merged in `main` now 👍

[2022-01-26 06:42] rayandrews commented on #152
I have tested and it works well for RFC3339 full timestamp now!

Thank you @mickael-menu!!

[2022-02-01 20:35] edrex opened #161 "bubble-up search for nested tags"
Hi, just started testing this tool, and I hit a small snag.

Obsidian and Emanote's tag filter operators include results from descendant tags (so searching for `#project` includes notes tagged `#project/active/ongoing` etc). Semantically, a note which is tagged with a descendant is considered to have all ancestor tags too.

A fragment of my tag heirarchy:

- #project
  - #project/active
    - #pro

[2022-02-02 00:17] johnsonlab opened #162 "Make filename match file title"
My convention (for better or for worse) has been to have the [[wiki-linked]] filenames match the file title where for file This.is.my.file1.md:

---

# This.is.my.file1

lorem ipsum...

[[This.is.my.file2]]

---

Can this be achieved in the config.toml

filename=

setting easily? Thanks!!

[2022-02-02 10:16] mickael-menu commented on #161
Try appending a wildcard to your tag name to match a prefix:

[code]

You can find [more operators in the documentation](https://github.com/mickael-menu/zk/blob/main/docs/note-filtering.md#filter-by-tags).

[2022-02-02 10:17] mickael-menu commented on #162
I'm not sure I fully understand, could you write down the full `zk` command you use to create the note, and your expected filename and title?

[2022-02-02 17:35] johnsonlab commented on #162
I just installed zk and am using the default zk command that produces the random 4 character string for md filenames. As you'd expect, my file titles are descriptive. Historically, using atom and the wikilinks plugin, my markdown filenames are exactly the same as the file title in the top line of the .md file after a #, as follows:

**Title of .md file:**
          # Same.as.filename

**Saved name

[2022-02-02 18:08] mickael-menu commented on #162
Ha, sure. You can add this to your config:

[code]

Then create a note with `zk new --title "Same.as.filename"`

[2022-02-02 19:54] edrex commented on #161
Thanks. I guess the exact search would be `project OR project/*`. From a string matching point of view this is sufficient.

Food for thought: I still feel like taking a stance on the semantics of nested tags is important: they're not just strings, they're nodes in a tree. The other two projects define the semantics of containment to bubble up, which means a large portion of the userbase is trained

[2022-02-02 19:54] #161 closed

[2022-02-03 00:09] daylinmorgan commented on #113
@VolkovIlia I had a similar issue using the prebuilt linux binary on the releases page on my system.

`zk: error while loading shared libraries: libicuuc.so.63: cannot open shared object file: No such file or directory`

I was able to get around this by compiling the needed object from the AUR. In my case [icu63](https://aur.archlinux.org/packages/icu63/).

[2022-02-03 05:23] j-hui opened #163 "Feature request: customize which shell is used to execute aliases"
I usually use Fish as my interactive shell, but the example aliases given use Bash syntax. For example:

[code]

While I could change this to `zk list $argv`, I would instead like to specify which shell to use (instead of having it be determined by `SHELL`). This way, the same aliases will work whether I'm using Bash or Fish or any other shell.

[2022-02-03 17:39] mickael-menu commented on #163
I guess I could add a config option like I did for `PAGER`, but I'd like to understand better your issue. Why do you need to use a different `SHELL` value for `zk` compared to the regular shell?

[2022-02-03 17:46] mickael-menu commented on #161
What would be the ideal behavior of `zk` according to you?

I wouldn't want to make `-t project` match both `project` and `project/active`, but I guess adding an operator like `-t project/` that would be an alias to `project OR project/*` could be useful.

[2022-02-03 19:48] edrex commented on #161
IMO ideal would be having some concise/expressive way of asking for a match on all descendant tags, while still preserving the existing exact match search

Using a trailing slash as an alias sounds good, or maybe just adding another flag `-T` seems more [explicit](https://www.python.org/dev/peps/pep-0020/#the-zen-of-python) (I always have to look at the rsync manpage for how trailing slash affects

[2022-02-04 07:23] j-hui commented on #163
That would be perfect.

To elaborate: fish does not support `$@` syntax. Instead, it uses `$argv`.

Personally, I don't really like this about fish, but then again, I don't use it for scripting. I'd like to stick to POSIX shell syntax for zk aliases while still using fish as my interactive shell.

[sxhkd has also encountered this issue](https://wiki.archlinux.org/title/bspwm#Problems_with_keybindi

[2022-02-04 13:40] danymat opened #164 "search for `§§` in notes"
Hello, I'm using the zk-nvim companion and it works wonderfully !

My starting notes have all `§§` inside them, as this one:

[code]

I tried using `zk list -e "§§"` (or with `-m`), without success. Am I missing something here ?

[2022-02-04 13:45] mickael-menu commented on #164
Yeah I'm quite happy with it as well!

You need both actually, try with `zk list -em "§§"`.

`-e/--exact-match` is just a boolean flag to enable literal matching, but you still need to provide an actual query with `-m/--match`.

[2022-02-04 13:47] danymat commented on #164
Nice, it works well ! thanks !

[2022-02-04 13:47] #164 closed

[2022-02-04 15:57] lowski commented on #155
Sorry for being inactive. It looked like Ale was pushing the whole file content for completion. I eventually switched to Neovim and settled on official zk plugin. Thank you!

[2022-02-04 15:57] #155 closed

[2022-02-04 19:09] #163 closed

[2022-02-04 19:09] mickael-menu commented on #163
I added `ZK_SHELL` in `main`, it was simpler than adding another config option for this.

[2022-02-06 05:36] j-hui commented on #163
Awesome, thanks!

[2022-02-07 19:55] lcmen opened #167 "Autocomplete links with filtering"

[2022-02-07 21:52] #167 closed

[2022-02-09 10:44] manolomartinez commented on #22
I don't know if this is the same problem that you were having, but I simply changed the relevant line in `coc-settings.json` by

    "filetypes": ["markdown", "pandoc"]

And now the LSP works perfectly with my pandoc files.

[2022-02-15 23:52] zolzaya opened #169 "Installation issue"
Hey, When I trying to  intall zk in my PoPOs. I get following errors:
[code]

According to docs I already installed `go`, `sqlite` and `libicu-dev`. So what can I do?

[2022-02-21 11:42] B4rc1 opened #170 "[Bug] zk cannot query links of files in subdirectories"
[code]

After this you end up with a folder looking something like this:
[code]

Now insert links to file on in file two and three.

You should end up with:
[code]

as you can see `two` and `three` link to `one`. When asking `zk` which file links to `one`:
[code]

When asking which file `three` links:
[code]

**System Information**
zk version: [0.9.0](https://github.com/NixOS/nixpkgs/blob/d5f23787

[2022-02-22 03:02] codito commented on #139
Created https://github.com/mickael-menu/zk/pull/171 to fix the windows build.

As a next PR, we can add a github CI workflow based on msys2 to help release binaries, e.g. https://github.com/mattn/go-sqlite3/blob/master/.github/workflows/go.yaml#L58 or https://www.msys2.org/docs/ci/ :)

[2022-02-22 13:36] mickael-menu commented on #139
@codito Thanks for tackling this! Like I said earlier, I will not "officially" support Windows. But as long as you make sure to fix the build when needed, I'm happy to merge contributions.

A CI workflow checking the Windows build would be helpful indeed, this way I can make sure I'm not breaking it when doing changes. I wonder if the [`tesh` test suite](https://github.com/mickael-menu/tesh) could

[2022-02-22 14:07] codito commented on #139
@mickael-menu thanks for merging the fix. Unofficial support for Windows is not a problem. I will try to get the CI and end to end tests up.

[2022-02-22 20:10] j-hui opened #172 "Cannot pipe yes to zk init"
I'm used to piping `yes` to interactive programs for which I want to automatically hit `<CR>` for each prompted item. However, this does not work with `zk`:

[code]

I'm aware I can do `zk init --no-input` to accomplish what I intended to do in the first place, so this is not a big issue, but I wanted file this issue in case others run into it too, and in case this is a very easy fix.

[2022-02-22 20:18] j-hui opened #173 "note.ignore option does not ignore subdirectories"
I seem to be unable to ignore all subdirectories under a path. Steps to reproduce:

[code]

This also doesn't work with `drafts/*`. It sort of works with `drafts/*/*` but then `drafts/ignored.md` is not ignored.

[2022-02-22 20:26] dj8yfo opened #174 "Any way to make this work with Neuron? Folgezettel"

[2022-02-23 09:45] mickael-menu commented on #174
Yes it's supported. If there's a problem please reopen an issue with details on how to reproduce it.

[2022-02-23 09:45] #174 closed

[2022-02-23 09:54] mickael-menu commented on #173
This is the default behavior of Go's globbing, but I agree it's not great. I'll take a look if it can be improved.

[2022-02-23 09:55] mickael-menu commented on #172
It looks like an issue in the third-party library [AlecAivazis/survey](https://github.com/AlecAivazis/survey). Feel free to open an issue on its repo if you want. As it's not a common use case / issue for `zk`, I'll close this for now.

[2022-02-23 09:55] #172 closed

[2022-02-23 09:56] mickael-menu commented on #170
Thank you for the detailed bug report, I can reproduce it.

[2022-02-23 15:02] j-hui commented on #172
Got it, thanks! This seems to be related to AlecAivazis/survey#395

[2022-03-05 18:38] vod3 opened #178 "make failed"
Hi, after installing `libicu-dev` on Fedora 35 (which is called `libicu-devel`) and trying to make the src folder, I get this error:

[code]

Am I missing some dependencies?
Thank you!

[2022-03-07 22:14] j-hui commented on #170
Probably related: zk also doesn't seem to count links from subdirectories when figuring out which notes are orphans.

[code]

Say I link these notes to each other:

[code]

Because these are linked circularly, neither should be considered an orphan. However:

[code]

one is still considered an orphan despite the link from two.

I post here because this seems like a different expression of the same

[2022-03-09 21:49] megalithic opened #179 "fzf key binding overrides"
Hey there @mickael-menu! Great progress you've made; I've been using `zk` more recently and noticed you have some provisions added for being able to configure the "tool" (fzf) bindings, mostly I just want to override, `ctrl-n` to be the default `down` action, and handle the new note capability with `ctrl-c` instead.

Any examples for this? I didn't see any tests for this in config_test.go spec. Th

[2022-03-10 01:17] #162 closed

[2022-03-15 23:57] notusknot commented on #28
This is awesome, but @mickael-menu I'm a bit confused on how to utilize the output from `zk graph --format=json`

[2022-03-15 23:58] notusknot opened #182 "Graph output usage"
This project is awesome, but I'm a bit confused on how to use the output of `zk graph --format=json`

[2022-03-16 13:41] vod3 commented on #178
in addition, this is what happens when I try to execute the zk binary:
`./zk --debug
./zk: error while loading shared libraries: libicuuc.so.63: cannot open shared object file: No such file or directory
`

[2022-03-19 03:50] notusknot commented on #182
After browsing #48, I figured out I can do it either with graphviz: (requires mustache-go and graphviz to be installed):
`graph.mustache` file:
[code]
command to run: `
zk list --format json | mustache graph.mustache | sfdp -Tpng > picture.png
`

OR if you want an interactive web-based viewer with D3 (very similar to what Obsidian has), you can set this up:

`graph.js` file:
[code]
`index.html` fi

[2022-03-19 09:03] gregoryhugaerts commented on #143
I wonder if leveraging pandoc to convert formats on the fly as a preprocess step would be an idea? It'd give the option to use a lot of common formats

[2022-03-20 12:49] mickael-menu commented on #182
@notusknot I'm happy you could figure it out. Yes `zk graph` is currently pretty low level so additional documentation could be very useful. Your PR would be most welcome. 👍

[2022-03-20 12:50] mickael-menu commented on #143
It could be a workaround for the parser/indexation. It wouldn't work with the LSP server though.

[2022-03-20 12:58] mickael-menu commented on #178
@vod3 Did you find the reason of the initial issue? It looks like maybe an incompatible Go version or corrupted / incomplete Go dependencies.

For the second issue, you should not get it if `zk` is built on the same machine as it's running, or with a machine using the same version for `libicu-dev`. You might want to look into which versions you use.

[2022-03-20 13:11] mickael-menu commented on #179
Hi @megalithic, thanks! Sorry for the delay answering. As you've already seen it's not yet supported but will be eventually in #154 .

Right now when you do `zk init` you get a fully commented example in `.zk/config.toml`. Is this what you had in mind?

Otherwise I made sure to document every config property in the linked Markdown here: https://github.com/mickael-menu/zk/blob/main/docs/config.md B

[2022-03-20 13:37] mickael-menu commented on #170
@j-hui It's fine here, I'll check if the issues are related after fixing the first one.

[2022-03-21 01:09] #179 closed

[2022-03-22 04:47] skbolton commented on #178
I am working through trying to implement #159 and running into similar issues running tests and building the project. One thing I have seen work for me is specifying the gcc version to version 10. My system (Arch Linux) is currently on version 11 and I can't get it to run with that. This works though.

[code]

Still can't get `CC=g-10 make tesh to work` but I'll chime in about that on the original

[2022-03-22 04:52] skbolton commented on #159
Trying to work through this but running into issues. I have made a plan for how to implement and test this I just can't get `make tesh` to run.

Every tesh test fails with this warning.

[code]

I was also having errors running any of the other make commands in the project as well. If I try to run
[code]

Then I get this error
[code]

The only way I have found around this was spedifying an older g

[2022-03-22 04:57] skbolton commented on #159
Of course right after posting this I get it working. This is what is making it so that I can now run `make tesh`

[code]

[code]

I'll finish up this feature and do more research into this.

[2022-03-22 06:01] skbolton commented on #169
@zolzaya I think what I mentioned [here](https://github.com/mickael-menu/zk/issues/178#issuecomment-1074722557) is affecting you.

[2022-03-22 20:56] dstanberry opened #184 "LSP Hover breaks on windows"
I'm using neovim on windows and when I attempt to hover over a tag, the request fails with something similar to the following:
[code]

The `%5C` is html escaped 'somewhere' which causes uriToPath(...) to fail:

https://github.com/mickael-menu/zk/blob/a0ced3c33098a813dcb803e350b2ea38aa79ce4b/internal/adapter/lsp/util.go#L19-L23

I've resolved this by doing a strings.ReplaceAll() and can submit a PR

[2022-03-23 15:19] dstanberry commented on #184
It turns out the 'fix' I came up with was incomplete. There's a weird scenario with url.Parse() when the file scheme has only two forward slashes  instead of three. i.e. `"file:///"` vs `"file://"`. FWIW, I found this related issue https://github.com/golang/go/issues/13276.

I'm not experienced with golang and I'll admit this seems a bit hacky but it's finally consistent with the following changes

[2022-03-24 10:09] realVEct0r opened #185 "Markdown table syntax be parsed as colon tags"
It seems like that table syntax `|:---:|` will be recognized as colon tag `---`.

[2022-03-24 10:57] mickael-menu commented on #185
Are you using colon tags? If not, as a workaround [you can disable them in `.zk/config.toml`](https://github.com/mickael-menu/zk/blob/main/docs/note-format.md).

[2022-03-27 17:07] #159 closed

[2022-03-27 17:13] mickael-menu commented on #184
Hi @dstanberry, thank you for spotting this. Feel free to open a PR with your fix.

[2022-04-01 09:51] maxmahlke commented on #178
`make` failed for me with a `go` dependency error as well. I am running Ubuntu LTS 18.3 and the `go` version in the repositories is `1.10`. I downloaded a current `go` version from https://go.dev/doc/install and ran (following the instructions on the page)

`rm -rf /usr/local/go && tar -C /usr/local -xzf go1.18.linux-amd64.tar.gz`

I further replaced the `/usr/bin/go` executable on my system with

[2022-04-01 22:47] j-hui opened #187 "Feature request: YAML string quoter"
In one of my templates, I have this:

[code]

However, this trips up when `metadata.value` contains characters that mean something special in YAML, such as `:`. For example, if value is `oh: "no"`, the above template would produce the following invalid frontmatter:

[code]

I would like there to be a `yamlstr` handlebars builtin that will allow me to correctly populate the frontmatter:

[code]

if

[2022-04-02 07:26] mickael-menu commented on #187
I think the `json` helper would already do this:

[code]

[2022-04-02 12:01] #184 closed

[2022-04-06 13:43] waynezhang commented on #170
Coming from Logseq. I'm keeping journals in `journals` directory and other things in `pages` directory. But they can not refer to each others.

[2022-04-07 17:23] pwntester opened #189 "Broken OSX release"
Hi,

I was using a self built `zk` instance (using `go install --tags "icu json1 fts5 secure_delete"`) and that was working ok on OSX. I recently switched to [`nvim-lsp-installer`](https://github.com/williamboman/nvim-lsp-installer/blob/e8530f4059279a0d6b5e5f8891d04ffb1ade29a3/lua/nvim-lsp-installer/servers/zk/init.lua) which just grabs the OSX release and that executable throws the following erro

[2022-04-07 21:58] dj8yfo commented on #170
Bump. Seeing this too.

[2022-04-14 14:06] mickael-menu commented on #189
Unfortunately the ICU lib is linked dynamically with `zk`, and linking statically is complicated (see https://github.com/mickael-menu/zk/discussions/76#discussioncomment-1419379).

This means that at some point the pre-built release binaries will get obsolete. Until we find a better solution, the preferred way to install `zk` is to build it yourself.

[2022-04-15 19:57] bit-hug opened #190 "Parsing YAML frontmatter fails when frontmatter is terminated by "..." instead of "---""
The [YAML specification](https://yaml.org/spec/1.2.2/) defines two ways of terminating a document: `---` and `...`.

`zk` successfully recognizes `---` both as initiator and terminator of YAML frontmatter, using the following regular expression.

https://github.com/mickael-menu/zk/blob/3b05a0061df04e653de7f7b178964ff7f1889ed3/internal/adapter/markdown/markdown.go#L303

However, `zk` does not recog

[2022-04-16 16:35] mickael-menu commented on #190
That makes sense. Would you mind opening a PR to fix this? You can add a new test case using `...` in this directory: https://github.com/mickael-menu/zk/tree/main/tests/fixtures/yaml-frontmatter

and this tesh test file: https://github.com/mickael-menu/zk/blob/main/tests/markdown-yaml-frontmatter.tesh It will be run automatically in the GitHub action. Thanks!

[2022-04-18 08:42] pwntester commented on #189
Thanks for the reply @mickael-menu will future releases use latest ICU version?

[2022-04-19 06:41] mickael-menu commented on #189
Yeah, I will upgrade my `icu4c`.

[2022-04-20 06:58] pwntester commented on #189
Thanks!

[2022-04-20 06:58] #189 closed

[2022-04-23 12:15] mickael-menu opened #192 "Shell completion"
### Discussed in https://github.com/mickael-menu/zk/discussions/165

<div type='discussions-op-text'>

<sup>Originally posted by **rgoncalvesse** February  4, 2022</sup>

Am I am missing something or is there still no shell completion?

Actually, I would separate the completion in two distinct types:

1. Basic completion. Suggesting commands (e.g. new, list, ...) and flags for each of those comman

[2022-04-23 13:59] daephx commented on #22
I don't know if this was mentioned but I didn't see any other relevant issues. It appears the LSP attempts to check wikilink syntax within code blocks. Which is probably a rare issue but still doesn't strike me as appropriate behavior.
I only noticed this due to the multi-line string syntax Lua uses.

![image](https://user-images.githubusercontent.com/36192863/164909034-2f384947-7670-4a5e-afd4-eee

[2022-04-23 15:58] mickael-menu opened #194 "LSP server is matching links inside fenced code blocks"
_Originally posted by @daephx in https://github.com/mickael-menu/zk/issues/22#issuecomment-1107476645_

I don't know if this was mentioned but I didn't see any other relevant issues. It appears the LSP attempts to check wikilink syntax within code blocks. Which is probably a rare issue but still doesn't strike me as appropriate behavior.
I only noticed this due to the multi-line string syntax Lua

[2022-04-23 15:59] mickael-menu commented on #22
From now on let's open a dedicated GitHub issue for LSP bug reports or LSP feature requests. This issue will be used to follow the evolution of the LSP implementation.

[2022-04-23 16:01] #170 closed

[2022-04-23 16:01] mickael-menu commented on #170
It should be fixed in `main` now, could someone confirm?

@j-hui Yes it was indeed the same issue.

[2022-04-23 16:22] mickael-menu commented on #190
I tried implementing this, but it doesn't fully work because [goldmark](https://github.com/yuin/goldmark), the third-party Markdown parser I'm using, doesn't support `...`. I suggest opening an issue there to request this feature and if it's implemented, we can reopen this one.

[2022-04-23 16:22] #190 closed

[2022-04-23 16:46] #173 closed

[2022-04-23 16:47] mickael-menu commented on #173
It's now available in `main`, I used a third-party lib to support the double star globbing.

[2022-04-24 12:16] mickael-menu commented on #137
[`fzf-options`](https://github.com/mickael-menu/zk/blob/main/docs/tool-fzf.md) is now available in `main`.

[2022-04-24 12:16] #137 closed

[2022-04-24 12:43] #185 closed

[2022-04-24 13:19] B4rc1 commented on #170
still present for me on commit 7622d9e:
[code]
[code]
[code]

[2022-04-24 14:01] mickael-menu commented on #170
@B4rc1 Your example works for me, make sure you are really using the latest version (check `zk --version` maybe).

Also forcing to reindex your notebook might help: `zk index --force`.

[2022-04-24 14:04] B4rc1 commented on #170
reindexing (`zk index --force`) fixed it. There should be a disclaimer somewhere to reindex your notebook on updates (or do that automatically)

[2022-04-24 14:06] mickael-menu commented on #170
Yeah I think I'll add a reindexing step for the next release. Thanks for confirming the fix.

[2022-04-27 01:54] #169 closed

[2022-04-28 15:28] mickael-menu opened #200 "Renaming notes"
### Discussed in https://github.com/mickael-menu/zk/discussions/199

<div type='discussions-op-text'>

<sup>Originally posted by **srid** April 27, 2022</sup>
Would this be in scope for `zk`? Basically:

[code]

will rename `Foo.md` to `Bar Qux.md` while taking care of references. By which I mean it will replace all occurrences of `[[Foo]]` with `[[Bar Qux]]` in the notebook. As well as `[[Foo|...

[2022-04-29 07:49] artoj opened #201 "Linux terminal borked when using aliases"
## Output of zk --version

0.10.0-1-g94f563c

## OS / environment

Ubuntu 20.04, Gnome, Gnome terminal, bash

## How did you run zk?

[code]

In ~/.config/zk/config.toml I have this alias:

[code]

## Problem description

When I run `zk edi`, fzf opens, but the terminal is borked. It's as if every other typed character goes to fzf and every other character disappears. fzf is installed through the

[2022-04-30 08:10] trev-dev opened #202 "Cannot get group overrides to work"
No matter what I seem to do I cannot get the filename and the template overrides to work. I always end up with one, or both using the default settings.

zk build: `zk 0.10.0-1-g94f563c`

I have the following configurations:

_In ~/Notes/.zk/config.toml_
[code]

_~/Notes/.zk/templates/recipe.md_
[code]

_Directory Structure_
[code]

_~/.zshenv_
[code]

I have tried:
`zk recipe "Some title"`
`zk new

[2022-04-30 09:51] mickael-menu commented on #202
The `filename` and `template` config properties need to be under a `note` sub-section of your group, by adding the `.note` suffix here:

[code]

With this, `zk recipe "Some title"` should work.

At the moment, [only the property `paths` is available under the `[group.x]` section](https://github.com/mickael-menu/zk/blob/main/docs/config-group.md#declaring-a-new-group).

[2022-04-30 10:01] trev-dev commented on #202
That is super helpful, thanks for narrowing that down.

[2022-04-30 10:01] #202 closed

[2022-05-02 06:29] ivanddm commented on #163
Hi,
How do I use this setting? I tried setting `set -x ZK_SHELL "/bin/bash"` in my fish config but still aliases are run with fish shell.

[2022-05-02 08:04] mickael-menu commented on #163
I think you need the `-g` option with fish:
https://fishshell.com/docs/current/tutorial.html#exports-shell-variables
[code]

[2022-05-02 15:05] ivanddm commented on #163
Since I'm setting the env variable outside a function, it really doesn't matter (`-x` or `-gx`). Nonetheless, I tried with `-gx` as well but still aliases are not run with the specified shell.

[2022-05-02 15:07] mickael-menu commented on #201
Hi,

I'm not sure what would cause this issue and unfortunately I can't test this out on Linux. If someone else has this issue and is willing to take a look, the aliases are executed here:

https://github.com/mickael-menu/zk/blob/94f563cd51dc4dffd0a4c5e0e1c9e8d7c68996ba/main.go#L182-L195

[2022-05-02 15:09] mickael-menu commented on #163
What do you see if you run `zk` like this? (Assuming you have this alias `ls = "zk list $@"`)

[code]

[2022-05-02 15:24] ivanddm commented on #163
Sorry, I'm not sure what you mean. If I run `zk` I get the `zk` usage message regardless whether I set `ZK_SHELL` to `echo zk ls`. In fish it would be `set -gx ZK_SHELL $(echo zk ls)`. If I run `zk ls` I get the following:

<img width="544" alt="image" src="https://user-images.githubusercontent.com/20104703/166260416-21bf90ac-30f4-425f-b90a-9d692f9c2d05.png">

[2022-05-02 15:36] mickael-menu commented on #163
I installed fish and it seems to work for me. This is what I meant:

<img width="703" alt="Screenshot 2022-05-02 at 17 35 53" src="https://user-images.githubusercontent.com/58686775/166262630-b3867a6c-0bda-4dae-a83c-81543196bfe9.png">

[2022-05-02 15:40] ivanddm commented on #163
Ok, so apparently I had an older version when I installed `zk` with `brew install zk`, which was a couple of days ago so I though it had pulled the latest version. I reinstalled `zk` with `brew install --HEAD zk` and now it is working as desired 👍🏻... Thanks a lot for your time and for putting together a really nice app.

[2022-05-02 15:43] mickael-menu commented on #163
Hmm yes, it looks like the Homebrew version was not updated automatically with the release, I need to take a look into that. Thanks for spotting this.

[2022-05-02 16:10] mickael-menu commented on #163
Looks like someone already created it, so it should be available now: https://github.com/Homebrew/homebrew-core/pull/100286

[2022-05-02 16:13] ivanddm commented on #163
Yes, I uninstalled and reinstalled with just `brew install zk` and it is picking up the 0.10.0 version. Thanks again!

[2022-05-04 14:03] VolkovIlia opened #205 "Share working minimal config for auto-completion"
Please add some working config examples for popular auto-completion plugins: [coq_nvim](https://github.com/ms-jpq/coq_nvim), [nvim_cmp](https://github.com/hrsh7th/nvim-cmp), mb etc...

Spent hours around playing with instructions on github pages but auto-completion in zk still not working (`pyright` works well for example).

P.S. I use `lspconfig`, not `zk-nvim`, but tried both.

[2022-05-05 04:37] artoj commented on #201
I managed to test this on another Ubuntu machine and I cannot reproduce the issue. The problem is on my end. I'll close this.

[2022-05-05 04:37] #201 closed

[2022-05-05 08:13] VolkovIlia commented on #205
Somehow plugin [lexima.vim](https://github.com/cohama/lexima.vim) breaks auto-completion with [nvim_cmp](https://github.com/hrsh7th/nvim-cmp). After ``[[`` was not completion at all.

I know that it is bug, but truthfully don't understand whom I should to report it((

[2022-05-06 12:42] #205 closed, assigned to nobody

[2022-05-08 01:44] #178 closed

[2022-05-10 20:23] MrPeterLee opened #211 "Cannot run the latest 0.10 release in Ubuntu 22.04"
The application is reporting:

`./zk: error while loading shared libraries: libicuuc.so.63: cannot open shared object file: No such file or directory`

Also attempted to build using `make`, error occurred when including the icu unicode dependency.

The Ubuntu 22.04 packages `libicu-dev` of version 70.1, which is higher than version 63, that was used to built the release.

Could you please upgrade

[2022-05-11 06:43] mickael-menu commented on #211
The ICU dependency causes recurring build issues with `zk`. I'll take a look if I can do without, I believe so.

[2022-05-11 21:57] afranioce commented on #211
I've got the same problem, but I'm using the Pop OS 21.10, I tried to install the `libicu67` and `libicu-dev`

[2022-05-13 20:22] ktkimit opened #212 "A way to fix broken links after a rearrangement."
Suppose that I have in the rood zk directory:

6upt12-a.md
b/9nfbnv-b.md

In the file "6upt12-a.md", I have an internal link to the file "9nfbnv-b.md" like

`[b](b/9nfbnv-b)`

At some point later, I want to rearrange them like:

6upt12-a.md
9nfbnv-b.md

That is, I want to move "9nfbnv-b.md" to the rood directory. Then, the internal link in the file "6upt12-a.md" will be broken.

Is there a way to

[2022-05-14 08:59] mickael-menu commented on #211
I managed to remove the dependency on libicu, you can try again from the `main` branch, or use these pre-built binaries:

* [zk-v0.10.0-6-g3c634fb-linux-amd64.tar.gz](https://github.com/mickael-menu/zk/files/8692604/zk-v0.10.0-6-g3c634fb-linux-amd64.tar.gz)
* [zk-v0.10.0-6-g3c634fb-linux-arm64.tar.gz](https://github.com/mickael-menu/zk/files/8692605/zk-v0.10.0-6-g3c634fb-linux-arm64.tar.gz)
* [zk-

[2022-05-14 09:01] mickael-menu commented on #212
It's not supported yet but I have an issue opened for this: https://github.com/mickael-menu/zk/issues/200

It's not possible with Markdown links, however you can use Wiki links for this, e.g. `[[9nfbnv]]`. See https://github.com/mickael-menu/zk/blob/main/docs/note-format.md#markdown

[2022-05-14 09:01] #212 closed

[2022-05-14 20:03] mickael-menu commented on #200
Here's a spec, feel free to review and comment.

We're talking about two separate features using the same renaming process under the hood:

* **Renaming** a note title, which potentially updates its filename as well.
* **Moving** a note to a different FS path (different folder, or changing its filename manually).

In both cases, the path of the note, its title and all the inbound or outbound links

[2022-05-18 11:01] DhruvaSambrani opened #214 "default-title does not accept templates like filename does."
I would like to keep the title of my note as the current date, like how the filename can be set. However, default-title does not accept templates and simply puts the string as is.

Workarounds -
1. Use an alias with title with date given by external tools like `date`

[2022-05-18 11:41] mickael-menu commented on #214
You don't need to use `{{title}}` in your note template, you can use directly `{{date}}` like so:

[code]

There's an example here: https://github.com/mickael-menu/zk/blob/main/docs/daily-journal.md#maintaining-a-daily-journal

[2022-05-18 11:41] #214 closed

[2022-05-18 18:25] JafarAbdi commented on #211
I had the same issue on Debian unstable using the binary from the link provided fixes the issue for me, thanks!

[2022-05-18 18:59] DhruvaSambrani opened #215 "`zk search` - a way to search for notebooks in any child directory of provided directory"
This is a feature request to search for any notebooks in any of the child directories.
`zk search school` searches for zk notebooks in any child directories of `school` and pipes to fzf with a list of notebooks as a preview for each of them. If search directory is not provided, assume `.`

Workaround until then -
[code]

[2022-05-19 08:02] mickael-menu commented on #215
I'm not sure I fully understand the purpose, what are you using this command for exactly?

But just from what you described, I feel like this feature might be a bit too specific for `zk`, and I prefer to keep the commands focused on individual notebooks, a bit like `git`.

However, you can add a global alias in `~/.config/zk/config.toml`:

[code]

Then you can use it like you expected `zk search s

[2022-05-19 08:03] mickael-menu commented on #211
Thanks, I'd like to fix an issue I noticed first and then I'll do a patch release.

[2022-05-19 08:03] #211 closed

[2022-05-19 10:05] DhruvaSambrani commented on #215
I didn't know there was a global config file. This solves the issue, thank you

[2022-05-19 10:05] #215 closed

[2022-05-20 09:01] pidgeon777 opened #216 "[Help] zk Windows binaries availability"
If I understood correctly, Windows binaries for zk exist, but I'm encountering difficulties finding them.

[2022-05-20 09:16] mickael-menu commented on #216
I can't test or build `zk` for Windows, so I don't include any Windows binaries in the release notes. So unfortunately you will need to build it yourself.

Windows is not officially supported with `zk`, but external contributors are sometimes ensuring that it's still buildable on Windows.

[2022-05-20 09:30] pidgeon777 commented on #216
Ok. Please if someone could share some knowledge on how to build zk on Windows, it would be much appreciated 👍.

[2022-05-20 09:49] mickael-menu commented on #216
I think you might get some help asking on this PR https://github.com/mickael-menu/zk/pull/171

[2022-05-21 12:41] pidgeon777 commented on #194
@mickael-menu are you using Vim/Neovim?

Could you please post your LSP config to enable zk inside it?

Best regards

[2022-05-21 12:50] mickael-menu commented on #194
My config is very basic. I'm using [`zk-nvim`](https://github.com/mickael-menu/zk-nvim) with:

[code]

And `ftplugin` to add the mappings, as described here: https://github.com/mickael-menu/zk-nvim#example-mappings The sample `~/.config/nvim/ftplugin/markdown.lua` is mine.

[2022-05-23 04:23] purefun opened #220 "Feature Request: Matching supports CJK characters"
Because supporting CJK characters fts is complex, maybe adding a flag to `zk list` for grep is a simple solution. :)

[2022-05-25 12:21] mickael-menu commented on #220
I initially thought of allowing grepping with an `--exec` flag (see https://github.com/mickael-menu/zk/issues/31), but this use case seems to important to not support it out of the box. I'll look into adding this.

It will probably look like this, to go with `--exact-match`:

[code]

Or maybe refactor this into having a `--match-strategy=re|exact`, which opens the door to other strategies like "fu

[2022-05-26 16:06] #220 closed

[2022-05-28 18:03] mickael-menu commented on #31
Closing as the main use case (grep) is now natively implemented: https://github.com/mickael-menu/zk/pull/222

Feel free to comment though if you have another use for `--exec`.

[2022-05-28 18:03] #31 closed

[2022-05-28 18:03] mickael-menu commented on #220
Here you go: https://github.com/mickael-menu/zk/pull/222, it's available in `main`.

You can set the default strategy with a [custom alias](https://github.com/mickael-menu/zk/blob/main/docs/config-alias.md):

[code]

[2022-05-30 10:21] rEnr3n opened #223 "Notes with a lot of characters cannot be opened"
[code]

I run this script to create a test file:
[code]

If I run `EDITOR=vim zk edit -i` I can open the file.
If I add an empty line at the end and run the same command I can open the file.
If I add one character at the end of the line and run the same command I cannot open the file. It says `Found 0 note`.

I tried other variations like this:
[code]

I was able to open this file.

[2022-06-03 06:51] mickael-menu opened #224 "LSP autocompletion for heading IDs"
### Discussed in https://github.com/mickael-menu/zk-nvim/discussions/53

<div type='discussions-op-text'>

<sup>Originally posted by **@dzintars** June  3, 2022</sup>
Hi all. REALLY impressive tooling! :)
I have a question about Heading ID autocompletion?
Is it possible?
I know that if many nested levels i a single note breaks the "atomicity rule", but still..
![image](https://user-images.githubus

[2022-06-03 07:02] mickael-menu commented on #224
It's not high on my personal list as my notes are pretty small, but this should certainly be possible with `zk`.

It requires a few things:

1. Indexing the HTML anchors in the database, and generate some for the headings.
3. Adding a new LSP auto-completion type triggered with `#` inside a link, which will return the anchors for the linked note.
4. Properly handle jumping to an anchor from an LSP

[2022-06-03 10:22] eric-hansen commented on #224
Regarding anchor ID...

Why not just create a hash (sha256 or 512) of it?  This way you don't need to worry about all these weird edge cases, the id will be standardized and consistent, and won't have to worry about formatting.

[2022-06-03 10:44] dzintars commented on #224
It it definitely just a "nice to have" feature and not the deal breaker for me personally.

[2022-06-03 11:35] mickael-menu commented on #224
@eric-hansen Inside `zk` we can handle it however we want. I'm mainly worried about interoperability: it should work in Obsidian, GitHub, Emanote/Neuron, etc.

An alternative could be to insert an HTML anchor manually when linking to a section, but this would look a bit ugly in the notes IMHO.

[2022-06-03 11:50] mickael-menu commented on #224
Here's a good starting point for research:

https://talk.commonmark.org/t/feature-request-automatically-generated-ids-for-headers

[2022-06-03 12:00] mickael-menu commented on #224
Maybe inserting a manual anchor is not so bad. Yes it's ugly, but it's guaranteed to work everywhere and it's also stable if you change the heading title or reorder the sections (assuming index-based generated IDs).

[code]

However this poses some challenging with LCP, I'm not sure we can modify the target document during completion.

[2022-06-04 04:58] kraxli opened #225 "release binary for Windows"
Would it be possible to provide a release asset/binary for Windows?

[2022-06-04 10:47] mickael-menu commented on #225
See https://github.com/mickael-menu/zk/issues/216

[2022-06-04 10:47] #225 closed

[2022-06-06 02:48] BeeverFeever opened #226 "Remove/delete files with filtering"
A command that can use filtering to delete singular files based on the titles or groups of files based on filtering options or tags.

[2022-06-06 13:21] mickael-menu commented on #226
See https://github.com/mickael-menu/zk/discussions/188

[2022-06-06 13:21] #226 closed

[2022-06-07 23:46] j-hui opened #227 "Cannot pass value containing comma in --extra field"
I'm unable to pass `--extra` parameters with commas in them, For example:

[code]

Is there some way to escape the comma?

[2022-06-08 09:38] mickael-menu commented on #227
Sure, you should be able to use:

[code]

[2022-06-08 09:38] #227 closed

[2022-06-20 04:31] k1ng440 opened #228 "cant go intall"
[code]

[2022-06-20 08:29] mickael-menu commented on #228
Take a look at the README if you want to build `zk` yourself. You can use `make install`:

https://github.com/mickael-menu/zk#build-from-scratch

[2022-06-30 09:26] wrvsrx opened #230 "Parse attachments (such as images) in notes?"
Can zk support parsing attachments in documents?

Sometimes I want to find all orphan attachments in the note folder by `zk list --orphan`.

Sometimes users might also want to be able to know in which documents an image is referenced, for example using

[code]

to find all notes using main.png.

[2022-06-30 10:51] wrvsrx opened #231 "A more complete parser for tag filtering?"
It seems that tag filter only supports simple logical operation now. Maybe It can support complete logical expression such as

[code]

However, supporting complex login expression needs rewriting expression parser (https://github.com/mickael-menu/zk/blob/68e6b70eaefdf8344065fcec39d5419dc80d6a02/internal/adapter/sqlite/note_dao.go#L554-L600) and allow some escape character. I don't think it's very

[2022-07-01 07:59] mickael-menu commented on #230
Yes I think that would make sense.

[2022-07-01 08:04] mickael-menu commented on #231
I won't implement this myself but I'll welcome PRs if someone needs this.

[2022-07-03 23:21] pkazmier opened #233 "Progress bar emitting unwanted characters to stderr"
Thank you for this amazing tool. I just discovered this and have been having fun trying to figure out how to integrate it into my daily workflow. The documentation is fantastic and I love the `zk-nvim` integration.

While working on a dynamic zsh auto completion function for zk, I discovered that zk emits unwanted characters to stderr due to `bar.Clear()` on [line 89](https://github.com/mickael-me

[2022-07-05 20:31] mickael-menu commented on #233
Thanks, custom auto-completion is a nice add-on!

I addressed this issue in #234. Basically the progress bar won't be shown anymore if you either:

* Use the `--no-input` flag, or
* Run the script in a non-interactive shell, e.g. using `exec <&-`:
[code]

Let me know if that helps and I'll merge this in `main`.

[2022-07-05 21:43] pkazmier commented on #233
Works great. Thank you again for such a great tool. I love the neovim integration as well. Everything is so well done and documented.

[2022-07-05 21:43] #233 closed

[2022-07-05 23:24] zkbpkp opened #235 "Link parsing in VSCode breaks on non-ascii characters in titles"
Example:

<img width="292" alt="image" src="https://user-images.githubusercontent.com/7870080/177432168-e59bbbeb-a1a7-4ab3-b543-0bfb0ef5daa5.png">

I figured this is because regex returns offsets in bytes, not runes. Below is my quick fix for that, seems to work in VSCode, didn't test in Neovim.

[code]

[2022-07-06 02:17] nathanbraun opened #236 "links breaking after adding a new note via ZkNew"
Not sure if this is an zk-nvim or zk issue, but...

On initial db creation (if I delete notebook.db, then do zk index) all the links work fine. I can look at it in my db GUI and everything looks good.

However, if I add a new note using `:ZkNew`, all the values of `target_id` in the links table of notebook.db get updated to whatever the new note's ID is.

Everything goes back to working if I delet

[2022-07-08 17:49] haus20xx commented on #22
I've been having issues getting autocomplete to work with Neovim 0.7 and coc.nvim. It works exactly as expected if the config has `link-format: 'wiki'` but in all other cases, the autocomplete never even shows up. I checked the logs from zk lsp and in the broken cases, it does seem like messaging is working as expected, there is a message with the autocomplete options and can even verify that the

[2022-07-08 22:53] chris-sanders commented on #22
I'm using markdown link format, with nvim, and coc-nvim for auto-completion. I just upgraded form 0.5.0 to 0.7.0 and 0.7.2 and all 3 the autocomplete is working for me. However, I also have a Mac running 0.7.0 with the same setup and it's not working, I didn't notice until I tested today.

That's to say the setup should work, you should probably open a dedicated GitHub issue with your version deta

[2022-07-09 14:35] mickael-menu commented on #236
@nathanbraun https://github.com/mickael-menu/zk/pull/237 (branch `issue-62`) should fix this issue, but I would appreciate if you could double check before I merge it. Thanks!

[2022-07-09 15:14] mickael-menu commented on #235
@zkbpkp Thank you for spotting this issue! I opened the PR https://github.com/mickael-menu/zk/pull/238 (branch `issue-235`), would you mind double-checking before I merge it? Thanks

[2022-07-10 17:57] zkbpkp commented on #235
@mickael-menu thank you for responding so quickly! Just checked #238, this fixes the issue for me 👍

[2022-07-10 18:53] #235 closed

[2022-07-10 20:05] nathanbraun commented on #236
Just tried it and it's working for me!  Thank you!

[2022-07-10 20:07] nathanbraun commented on #236
Closed, but on second thought will let you close it when it's merged.  Looked good though

[2022-07-11 06:45] #236 closed

[2022-07-12 14:33] bibor opened #243 "LSP Go-to-reference does not work, if notes are in a folder."
# Description
The find-references feature of the LSP (tracked in #22) does not work if the notes are organized in folders.
# Expected Behaviour
find-reference should return all references to the given note.
# Steps to Reproduce

1. have a zettelkasten with the following layout
[code]
2. set a link from vlix.md to jbxt.md
[code]

3. open `jbxt.md`
4. call find-references on the language server clie

[2022-07-13 09:54] tim-hilt opened #244 "zk new not working anymore"
I upgraded to zk 0.11.0 (via Arch Linux' pacman), and suddenly I can't instantiate new notes with `zk new` anymore.

The exact command I used up until now was:

[code]

when I run any `zk new`-command (including the one I showed above) it just hangs there without reacting anymore:

![Peek 2022-07-13 11-53](https://user-images.githubusercontent.com/16037579/178705984-59c2093b-0efb-498a-b7ba-9d18147

[2022-07-13 12:37] #244 closed

[2022-07-13 12:51] mickael-menu commented on #244
Here you go https://github.com/mickael-menu/zk/releases/tag/v0.11.1

[2022-07-14 14:05] #243 closed

[2022-07-14 21:51] bibor commented on #243
Unfortunatley the fix introduces a new bug, resulting in the go-to-reference feature still not working.

notebook.RelPath() is called on a relative path from the root, but it expands the path relative to the note. This causes a new, wrong relative path, because it is calculated from the note's paths.

for example an input of `folder/note` produces `folder/folder/note`.

I think it's possible to ju

[2022-07-15 11:00] tomtomjhj commented on #224
I'm also in favor of manual anchor because it is `grep`-able and can be given some meaningful name.

Personally, I really like [Obsidian's block ID](https://help.obsidian.md/How+to/Link+to+blocks) despite its incompatibility, because it looks clean in plain text and enables fine-grained references.
I actually planned to [implement it](https://github.com/tomtomjhj/zk/tree/link-block-id) (currently

[2022-08-25 02:25] skbolton opened #250 "Broken file based url"
I am getting [this](https://github.com/mickael-menu/zk/blob/ab1d8fd0bd7ab40648db14074a860eedf93f055c/internal/adapter/lsp/server.go#L602) diagnostic error from zk lsp in my notes for links to files. Here is an example of a link causing the issue.

`[sample](file:///home/skbolton/Documents/Notes/sample.pdf)`

If I use my terminal's functionality to go to the link under the cursor it opens the file

[2022-08-29 10:45] kkga commented on #22
Anyone managed to make the LSP work with Kakoune ([kak-lsp](https://github.com/kak-lsp/kak-lsp)?

[2022-08-30 22:28] zmre opened #251 "Feature request: Wiki links by title"
I interchangeably edit my notes with neovim and with NotePlan depending on context and machine. But NotePlan makes wiki links based on a note's title. With zk, I can choose a note by title, but reference only by path and filename, which leads to a bunch of link errors and makes me have to type the title of a link to get to it. In a perfect world, zk would do the same title or filename search on wi

[2022-09-04 12:00] mickael-menu commented on #250
Agreed, this kind of hrefs should be ignored by `zk`.

[2022-09-04 12:13] mickael-menu commented on #251
This used to be possible [but I removed it](https://github.com/mickael-menu/zk/pull/218) because it was pretty fragile and broke some other features in the notebook index.

I'll consider adding it back with a stricter matching (exact note title).

In the meantime, you can use the 0.10.1 if you really want this feature. To have `[[To Pack]]` when inserting links, you can use [this config option](ht

[2022-09-09 18:06] gbrls opened #253 "Feature Request: Command to list all aliases"
I think it'd be a good feature to add a command to list all aliases.

I can work on it some weekend. I'd like to know what you think.

[2022-09-11 16:20] mickael-menu commented on #253
Why not, how about `zk config alias` for the command?

[2022-09-12 19:46] mhanberg opened #254 "Unable to list by link and backlink"
## Description

I am attempting to find all notes that are linked by or backlinked to a given note, but I am receiving the following error

[code]

Should this work?

[2022-09-17 19:22] #254 closed

[2022-09-17 19:23] mickael-menu commented on #254
Thank you, it should be fixed in `main`.

[2022-09-17 20:16] mhanberg commented on #254
Thanks, I appreciate it. I'll try again on monday.

[2022-09-19 15:42] bezmi commented on #28
I have been playing around with generating a nice graph view from the `--graph` output. It would be nice to have the "virtual" or "ghost" notes as you've described be a part of the graph output. I use virtual notes to mark notes that obviously need to be written, whereas tags are used as a convenient way to connect abstract ideas like "music", "art", "movies", "fluid simulation", etc.

My current

[2022-09-20 01:52] zalegrala commented on #22
Wow, this project is awesome, nice work!

[2022-09-20 02:44] zalegrala opened #256 "Templating `lastweek` or `nextweek`"
Howdy, great project!

I'm migrating everything from another Vim plugin I'd been using, and missing a couple template variables.  I have a `weekly` group where I track my work through the week, and the template has a link to next week and to last week.  I don't see this currently implemented, but was looking to see how it might be implemented.  Is this something you think would be a good contribut

[2022-09-21 16:11] cipharius commented on #22
Yes, I managed to get it working with kak-lsp. Try adding this config to your `kak-lsp.toml`(by default `~/.config/kak-lsp/kak-lsp.toml`):

[code]

Note that it's very important to call the config entry as `language.markdown`, using `language.zk-markdown` will break it. I had to find it out the hard way, zk checks file languageId, which kak-lsp takes from the configuration entries.

[2022-09-21 16:17] mhanberg commented on #254
Tried this out.

I expected this to be an "OR" operation, in that it would show me notes that are linking to the specified note, as well as notes that are linked by the specified note.

But it seems to be doing an "AND" operation, only returning notes that satisfy both conditions.

Is that expected?

[2022-09-21 16:33] dvdjaco opened #257 "missing Linux binaries in release assets break some 3rd party tools"
Some automation tools like [mason.nvim](https://github.com/williamboman/mason.nvim) or [nvim-lsp-installer](https://github.com/williamboman/nvim-lsp-installer) expect to find linux binaries in the zk "latest release" URL when auto-installing the zk LSP server. These binaries are missing from the last couple of zk releases, which means that some NVim users can't use zk as an LSP server without disa

[2022-09-22 20:06] zalegrala commented on #22
The title issue mentions that `Open a website from an inline external Markdown link` has been implemented, but I didn't see docs on how to use it.  Could someone point me the way?  I assume this means that if I have `[link](http://somewhere)` that I can tell vim to open that link in my browser, or presumably with `xdg-open`.

[2022-09-24 12:33] mickael-menu commented on #22
It was a mistake, but I implemented it quickly in https://github.com/mickael-menu/zk/pull/261. However, this uses [LSP `documentLink`](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_documentLink) which is the only way AFAIK to report external URLs with LSP. Unfortunately I don't think NeoVim uses `documentLink` at the moment, but it work wi

[2022-09-24 12:51] mickael-menu commented on #254
Yes that's expected, the CLI flags are additive (although I agree that for these two flags it might be less useful). You could add an alias like this to do two different queries:

[code]

[2022-09-25 13:52] mickael-menu commented on #256
It's handled by https://github.com/tj/go-naturaldate, which supports "next week" or "last week" (with a space). You can use it with `zk list --created "last week"`, for example.

However, you can't use it with the [`{{date}}` template helper](https://github.com/mickael-menu/zk/blob/main/docs/template.md#date-helper), which has for signature `{{date <date variable> <format>}}` and is used to format

[2022-09-25 18:10] mickael-menu commented on #257
Yes, unfortunately I was not able to build the Linux binaries for the last release with Docker, I'm not sure why. I don't know much about Docker and haven't used Linux in a decade so any help would be most welcome!

The real command to run is not `./go build` but `make`, as used in the `Makefile`: https://github.com/mickael-menu/zk/blob/c21c4fc21f7fe75f05d3fc3d09e74ffed41ba2ef/Makefile#L35-L36

Ho

[2022-09-26 15:04] zalegrala commented on #22
Ah, I had `nvim-tree` disabling the netrw functionality, but `gx` works for me on this.  Thanks for the pointer.

[2022-09-26 15:30] zalegrala commented on #256
I wasn't able to build/test this, but let me know what you think.  It might work.  https://github.com/mickael-menu/zk/pull/262

[2022-09-27 14:04] dvdjaco commented on #257
Could this be a side effect of the amd64 docker file being tagged as arm64? (See https://github.com/mickael-menu/zk-xcompile/issues/1#top)

I was able to make it work with a locally built amd64 docker image, although I had to add the a line to the `build:` section of the makefile to run `go mod tidy` before `go build`:

[code]

[2022-09-27 16:01] zalegrala commented on #22
I seem to be experiencing the issue mentioned above where goto definition doesn't work outside of the root directory.  I also notice that when running `:LspInfo` I see that the `zk` "root directory" is set as "Running in single file mode".  Would this have something to do with that?  What's the right way to set the root path to the notebook?  `ZK_NOTEBOOK_DIR` is already present in the directory.

[2022-09-27 18:21] mickael-menu commented on #257
I added the missing Linux binaries in the last release. Thank you @dvdjaco for your help in https://github.com/mickael-menu/zk-xcompile/issues/1!

[2022-09-27 18:21] #257 closed

[2022-09-28 07:23] dvdjaco commented on #257
Awesome, thank you for your work!

[2022-09-28 18:56] mickael-menu commented on #256
Thanks, I'll take a look this week-end.

[2022-10-01 13:30] mickael-menu commented on #22
@zalegrala I think that "Running in single file mode" is expected, I have the same thing. I can't reproduce the issue though, opening a note from a sub directory or a directory outside the notebook.

I have this in my `~/.zshrc`:

[code]

[2022-10-04 16:05] zalegrala commented on #22
@mickael-menu Yep, thanks for the note.  I've got `ZK_NOTEBOOK_DIR` set in my environment also, but using `gd` in vim for go-to-definition doesn't seem to work reliably.  I had a `marksman` plugin that would would, so I was a little confused about which plugin was doing what, but disabling that one and relying just on the `zk` plugin seems to disable the functionality.

[2022-10-04 17:09] mickael-menu commented on #22
@zalegrala Ha yes, I'm not sure `gd` is actually using the LSP's go to definition.

If you use `zk-nvim` (but this should partly work with just the `zk` LSP server) you need [to declare a list of mappings](https://github.com/mickael-menu/zk-nvim#example-mappings).

The one you want is:

[code]

[2022-10-04 17:15] zalegrala commented on #22
Ah yes, `gd` does seem to be defined locally.  I've got this currently, so I think I'm in-line with the approach @mickael-menu.
[code]

[2022-10-15 04:02] dstanberry opened #264 "zk lsp fails with custom `link-format`"
Version: zk 0.11.1-3-g404ef9d

[code]
Until recently I've been using the above settings and have had no issues in neovim with the lsp configuration.

However, after changing the link-format to `"[{{title}}]({{path}})"` I get error "zk: not found".

Launching the zk binary and specifying a log location doesn't seem to show anything helpful to diagnose this, the handler for `textDocument/definition`

[2022-10-24 04:23] AndOrangutan opened #265 "Shell helper not working as intended"
Greetings, so I was recently trying to redo my notebook setup because I feel that I made some errors in configuring my last one and came across this believed error.

Based off this previous discussion where you gave me the [initial idea](https://github.com/mickael-menu/zk/discussions/191#discussioncomment-2620501), I would think this syntax should allow me to call this script and pass in the outpu

[2022-10-30 09:08] mickael-menu commented on #256
This was implemented in https://github.com/mickael-menu/zk/pull/262

[2022-10-30 09:08] #256 closed

[2022-10-30 10:17] mickael-menu commented on #265
Sorry there was a misunderstanding. In my original comment, I said that it would be useful if you could pass variables to the `sh` template helper, but it's not supported yet.

However, I think you should be able to use `concat` for this particular example:

[code]

[2022-10-30 10:17] #265 closed

[2022-10-30 10:23] mickael-menu commented on #264
I can't reproduce this error, using the `[[` completion trigger in nvim and the following TOML config:

[code]

Maybe check that the directory containing `zk` is properly set in nvim by running `:echo $PATH`?

[2022-10-30 16:47] dstanberry commented on #264
The completion works for me as well (and seems to be the only action lsp-wise that works) but `vim.lsp.hover()` fails and results in the error message I mentioned in the initial post.

This is the config I am using:
[code]

[2022-10-30 18:38] skbolton commented on #28
I have started to play around with logseq and this is one of their features that I am really enjoying. I would love to see how this would feel in zk.

In logseq you can link to any page and it will let you navigate to it. You can usually tell that it doesn't exist because there won't be any content for the page itself. But logseq will generate a backlinks section of references that point to it and

[2022-10-30 22:35] AndOrangutan commented on #265
SWEET! Thank you so much, this perfects my setup :D

To anyone who wants to follow
[code]
Script
[code]

[2022-10-31 15:30] dstanberry commented on #264
I've found that it works as intended with `link-format = "markdown"`. The difference is when accepting a completion entry, the path is relative to the current file.

So if I have a file that I'm working on in `inbox/<file-currently-being-edited.md>` and I add a link to a file located in `journal/<another-file.md>` it shows up as
[code]

Just to clarify, what doesn't work for me is using `link-form

[2022-11-14 07:34] gour opened #270 "--link-to and --linked-by does not work with [[Wikilinks]]"
Hello,

`zk` seems very attractive to me...Tried it with the corpus of [10000 markdown files](https://github.com/Zettelkasten-Method/10000-markdown-files) and it does perform well, at least what I could test, while e.g. some Electron-based apps are practically becoming useless with such number of notes.

However, I do not get what I'd expect with a very basic setup...default config file (attached)

[2022-11-14 15:05] igxlin commented on #200
@mickael-menu Look like some logic missing in moving process logic. The links inside the moved file should be updated too. For example, file `foo.md` move to `bar/`. Then the link `./path/to/file.md` inside `foo.md` may need to be updated as `../path/to/file.md`.

[2022-11-14 22:08] ametis70 opened #271 "Notebook inside a hidden directory not working"
I started using `zk` today on Linux with:
[code]
and then I created some notes with `new` and `edit --interactive`. After that, I found out that the `list` and `edit` commands couldn't find any note, even if the files were created correctly. I also tried with `index` without success.

After that, I moved the `$HOME/.notes` directory to `$HOME/Documents/Notes` and the commands now work correctly, s

[2022-11-15 13:19] mickael-menu commented on #271
By design, [hidden files and directories are ignored from the `zk` index](https://github.com/mickael-menu/zk/blob/9d882451027b3e847cd6a6878d300e146387c6bb/internal/util/paths/walk.go#L24). Looks like this filter applies to the root notebook directory as well.

Until this is fixed, you can nest your notebook inside a hidden directory, e.g. `~/.notes/notebook`.

[2022-11-15 15:50] ametis70 commented on #271
Alright, thanks!

[2022-11-17 06:59] gour commented on #270
After changing the format of YAML front-matter, I was able to resolve the issue. :smile:

Thank you for `zk`. :wink:

[2022-11-19 15:49] mickael-menu commented on #270
I'm glad you found a solution by yourself.

`[[WikiLinks]]` are matching any part of a file's path in the notebook, so `[[havq]]` or `[[iy3p]]` would work, but not using the note title instead.

[2022-11-19 15:49] #270 closed

[2022-11-24 07:17] jfvillablanca opened #272 "bat: command not found"
Hello, I am trying to configure zk config toml (following the docs [[1]](https://github.com/mickael-menu/zk/blob/main/docs/tool-fzf.md)[[2]](https://github.com/mickael-menu/zk/blob/main/docs/config.md)), I uncommented `fzf-preview = "bat -p --color always {-1}"` from the toml.

Installed bat via apt so I created an alias in my .bashrc

[code]

Whenever I launch `zk list -i`, fzf fails to render th

[2022-11-27 14:52] mickael-menu commented on #272
Are you able to run `bat` with `fzf` directly with: `fzf --preview 'bat -p --color always {}'`?

[2022-11-29 19:49] UnkwUsr opened #273 "Wrong detected backlinks"
Example (description below):

[code]

The problem is that zk says that there are two backlinks to `asd.md`, but you can clearly see that there is only one link to it.

Note that our wrong backlinked file (`prefixed-asd.md`) ends with the same part as real one backlinked file (`asd.md`).

P.S. I know zk provides randomly generated filenames, but anyway I think it's strange behavior.

[zk-bug-test.t

[2022-11-29 20:02] UnkwUsr commented on #272
Alias `bat=batcat` is set only inside your shell (bash). Other programs looks for programs in paths described in `$PATH` environment variable. So you have 2 options:

1. Simply modify zk toml config to use directly `batcat`, not `bat`.
2. Make symlink `bat` to `/bin/batcat` and place it to some path described in `$PATH`.

Also second option will allow you to use `bat` instead of `batcat` from any

[2022-11-30 05:13] jfvillablanca commented on #272
Thank you @UnkwUsr and @mickael-menu for the responses.

I forgot that .bashrc is not sourced by other programs. I did the symlink solution and everything works fine now 🙂

[2022-11-30 05:13] #272 closed